@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as *;
@use './app/styles/utils/_functions' as *;

.price-list__thead,
.price-list__row {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  text-align: center;
  margin: 0 auto;
}

.price-list__thead div,
.price-list__row div {
  padding: 1.5em;
  border: 1px solid $quaternary-color;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  padding: 0 1em;
  margin-bottom: 2em;

}

.price-list__caption_1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  // border: 1px solid $quaternary-color;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em rgba($primary-color, 0.1);
  width: 100%;
  max-width: 1100px;
  padding: 1.5em 1.5em;
  gap: 0.5em;

  h1 {
    font-size: clamp($font-size-mobile-wide, 5vw, $font-size-tablet);
    color: $primary-color;
  }

  p {
    font-size: $font-size-mobile;
    color: $primary-color;
  }
}

.price-list__caption_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5em;
  margin: 1em 0;
  width: 100%;
  max-width: 1100px;
}

.price-list__caption_2 h2 {
  font-size: clamp($font-size-mobile-wide, 5vw, $font-size-desktop);
  color: $primary-color;
}

.price-list__table {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;


  h1 {
    font-size: clamp($font-size-mobile-wide, 5vw, $font-size-desktop);
    text-align: center;
    padding: 0.5em 1em;
    width: 100%;
    box-shadow: 0 0 0.5em rgba($primary-color, 0.1);
  }

}

.price-list__tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;

}

.price-list__tbody div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em rgba($primary-color, 0.1);
  transition: all 0.3s ease-in-out;
  font-size: $font-size-mobile;
  font-family: $primary-font;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // border: 1px solid $quaternary-color;
  margin-bottom: 1em;
  // color: lighten($color: rgba($primary-color, 0.35), $amount: 0.8);
  // font-size: 0.3em;
}

.price-list__thead {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // background-color: darken($color: rgba($primary-color, 0.1), $amount: 0);
  // background-color: lighten($color: rgba($primary-color, 0.35), $amount: 0.8);
  color: $primary-color;
  padding: 1.5em;
  margin-bottom: 1.5em;

  h1 {
    width: 100%;
    text-align: center;
    padding: 1.5em 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba($primary-color, 0.1);
    transition: all 0.3s ease-in-out;
    font-size: 0.60rem;
    background-color: darken($color: rgba($primary-color, 0.1), $amount: 0);
    color: $primary-color;

    &:hover {
      box-shadow: 0 0 0.5em rgba(rgba($primary-color, 0.3), 0.2);
    }

  }
}

.price-list__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em rgba($primary-color, 0.1);
  transition: all 0.3s ease-in-out;
  font-size: $font-size-mobile;
  font-family: $primary-font;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // background-color: aquamarine;

  h1 {
    width: 100%;
    font-size: 0.60rem;
    padding: 0.5em;
    text-align: center;
    padding: 1.5em;
    text-wrap: wrap;
    border-radius: 0.5em;
  }
}

@include respond(sm) {


  .price-list__row h1 {
    font-size: clamp($font-size-mobile, 1vw, $font-size-mobile-wide);
  }

  .price-list__thead h1 {
    font-size: clamp($font-size-mobile, 1vw, $font-size-mobile-wide);
  }
}

@include respond(md) {

  .wrapper {
    gap: 2rem;
    margin-top: 1rem;
    padding: 0 1rem;
  }

  .price-list__caption_1 {
    h1 {
      font-size: clamp($font-size-desktop, 5vw, $font-size-desktop-wide);

    }
  }

  .price-list__caption_2 {
    margin: 2em 0;


    h2 {
      font-size: clamp($font-size-mobile-wide, 5vw, $font-size-desktop-wide);

    }
  }

  .price-list__row h1 {
    font-size: clamp($font-size-mobile, 1vw, $font-size-mobile-wide);
  }

  .price-list__thead h1 {
    font-size: clamp($font-size-mobile, 1vw, $font-size-mobile-wide);
  }
}

@include respond(lg) {

  .wrapper {
    margin: 3rem 0;
    padding: 0 2rem;
    // background-color: aquamarine;
    box-sizing: border-box;
  }
}

@include respond(xl) {
  .price-list__caption_1 {
    margin: 1rem;
  }

  .wrapper {
    gap: 3rem;
    margin: 3rem 0;
    padding: 0 2rem;
  }
}