@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;
@use "./app/styles/utils/_mixins" as *;
@use "./app/styles/utils/_functions" as *;

/* Mobile styles */

.contact-main {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.about-image-container {
  margin-top: 0.5em;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 0 1em 0 1em;
  color: $primary-color;
  font-size: $font-size-small;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;

  h1 {
    font-size: $font-size-mobile-wide;
    margin-bottom: 1em;
    color: $primary-accent-color;
    text-align: center;
    font-style: italic;
  }

  p {
    margin-bottom: 1.5em;
    font-size: $font-size-mobile-wide;
    text-align: left;
    font-family: $primary-font;
    line-height: 1.5;
    letter-spacing: normal;
    font-family: $secondary-font;
    line-height: 1.7;
  }

  li+li {
    margin-bottom: 1.5em;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;
  }

  .hero {
    margin-bottom: 1em;
  }
}

.contact-main {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  text-align: center;
  margin: 3em 0;
  border: 1px solid $quinary-color;
  border-radius: 1em;
  padding: 1em 0 0 0;
  bottom: 0;
  background-color: $secondary-color;

  h1 {
    font-size: $font-size-desktop-ultra-wide;
    font-weight: 500;
    text-align: center;
  }

  h3 {
    font-size: $font-size-tablet;
    // font-weight: 500;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin: 1em 0;
  }

  h3+h3 {
    margin-top: 1em;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  padding: 0 15px;
  text-align: center;
}


.contact-form-section {
  padding: 0 1em 0 1em;
  margin-bottom: 2em;
}





/* Tablet styles */

@include respond(lg) {
  .contact-main {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    border-radius: 0.5em;
    padding: 0;
    color: $primary-color;
    font-size: $font-size-small;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    margin-top: 2em;

    h1 {
      font-size: $font-size-desktop-wide;
      margin-bottom: 0.5em;
      color: $primary-accent-color;
      text-align: center;
      font-style: italic;
    }

    p {
      margin-bottom: 1.5em;

      font-size: $font-size-tablet;
      text-align: left;
      font-family: $primary-font;
      line-height: 1.5;
      letter-spacing: normal;
      font-family: $secondary-font;
      width: 85%;
      margin: 0 auto;
      text-indent: 1rem;
    }

    li+li {
      margin-bottom: 1.5em;
    }

    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
    }

    .hero {
      margin-bottom: 1em;
    }
  }

  .contact-main {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    text-align: center;
    margin: 3em 0;
    border: 1px solid $quinary-color;
    border-radius: 1em;
    padding: 1
  }

  .contact-form-section {
    width: 100%;
    max-width: 1100px;
    padding: 0;
  }
}