@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;
@use "./app/styles/utils/_mixins" as *;
@use "./app/styles/utils/_functions" as *;

/* Mobile styles */

.contact-main {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.about-image-container {
  margin-top: 0.5em;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }
}



.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;

  h2 {
    margin: 0;
    // background-color: $primary-accent-color;
    font-size: clamp($font-size-desktop, 5vw, $font-size-desktop-wide);
    color: lighten($color: $primary-color, $amount: 10%);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    // width: 3000px;
  }

  .about-title {
    animation: scrollBanner 15s linear infinite;
    text-align: center;
  }

  @keyframes scrollBanner {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.duration-300 {
  transition-duration: 1500ms;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.transition-timing-function {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 0 1em 0 1em;
  color: $primary-color;
  font-size: $font-size-mobile-wide;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;


  h1 {
    font-size: $font-size-tablet;
    margin-bottom: 0.5rem;
    color: $primary-accent-color;
    text-align: center;
    font-style: italic;
    padding: 0 1.5rem;
  }

  p {
    margin-bottom: 1.5rem;
    font-size: $font-size-mobile-wide;
    text-align: left;
    font-family: $primary-font;
    line-height: 1.5;
    letter-spacing: normal;
    font-family: $secondary-font;
    line-height: 1.7;
    padding: 0 0.5rem;

  }

  li+li {
    margin-bottom: 1.5em;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;
  }

  .hero {
    margin-bottom: 1em;
  }
}

.contact-main {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  text-align: center;
  margin: 3em 0;
  border-radius: 1em;
  padding: 1em 0 0 0;
  bottom: 0;
  background-color: $secondary-color;

  h1 {
    font-size: $font-size-desktop-ultra-wide;
    font-weight: 600;
    text-align: center;
  }

  h3 {
    font-size: $font-size-tablet;
    // font-weight: 500;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin: 1em 0;
  }

  h3+h3 {
    margin-top: 1em;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  padding: 0 15px;
  text-align: center;
}


.contact-form-section {
  padding: 0 1em 0 1em;
  margin-bottom: 2em;
}





/* Tablet styles */

@include respond(md) {
  .contact-main {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

  }

  .about-image-container {
    margin-top: 0;
    border-radius: 1rem;
    width: 100%;
    padding: 0 1rem;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 1rem;
      margin: 1rem 0;

    }
  }

  .banner {
    padding: 0;
    margin-top: 1rem;

    h2 {
      padding: 1rem 1rem;
    }

    .about-title {
      animation: scrollBanner 22s linear infinite;
      text-align: center;
    }
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    border-radius: 0.5em;
    padding: 0;
    color: $primary-color;
    font-size: $font-size-small;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    // margin-top: 1rem;

    h1 {
      font-size: $font-size-desktop-wide;
      margin-bottom: 0.5em;
      color: $primary-accent-color;
      text-align: center;
      font-style: italic;
    }

    p {
      margin-bottom: 1.5em;
      font-size: $font-size-tablet;
      text-align: center;
      font-family: $primary-font;
      line-height: 1.5;
      letter-spacing: normal;
      font-family: $secondary-font;
      width: 87%;
      margin: 0 auto;
      text-indent: 1rem;
    }

    li+li {
      margin-bottom: 1.5em;
    }

    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
    }

    .hero {
      margin-bottom: 1em;
    }
  }

  .contact-main {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    text-align: center;
    margin: 3em 0;
    border: 1px solid $quinary-color;
    border-radius: 1em;
    padding: 1
  }

  .contact-form-section {
    width: 100%;
    max-width: 1100px;
    padding: 0;
  }


}

/* Desktop styles */

@include respond(lg) {
  .banner {
    padding: 0;
    margin: 1rem 0 0 0;

    h2 {
      padding: 1rem;
    }

    .about-title {
      animation: scrollBanner 27s linear infinite;
      text-align: center;
    }
  }

  .about-image-container {
    margin-top: 0;

    img {
      margin: 0;
    }
  }


}