$primary-text-color: #000000;
$secondary-text-color: #ffffff;

$primary-color: #000000;
$secondary-color: #FFFFFF;
$tertiary-color: #707070;
$quaternary-color: #D8D8D8;
$quinary-color: #FFE3E1;
$senary-color: #9DC08B;
$septenary-color: #E74646;
$octonary-color: #1D267D;

$primary-accent-color: #A18A68;