@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as *;
@use './app/styles/utils/_functions' as *;

/* Mobile styles */

.footer-main {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // padding: 0 1em;
}

.footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 0 1em;
    // background-color: $quinary-color;
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    border-top: 1px solid $quaternary-color;
    margin: 0 auto;
    box-sizing: border-box;
    // margin-top: 1em;
    border-radius: 0.5em;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(/pinkcloud.jpg);
    background: url(/pinkcloud.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.footerSocial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 1em;
    // margin-top: 2em;
    border-radius: 0.5em;

    iframe {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 0.5em;
        height: 45rem;
    }

}

.footerSocialText {
    text-align: left;
    margin-bottom: 0.5em;

    h1 {
        color: $secondary-color;
        font-weight: 500;
        font-size: clamp($font-size-mobile-wide, 5vw, $font-size-tablet);
        margin-bottom: 0.5em;
        text-align: left;
        font-family: $primary-font;
    }

    h1:hover {
        cursor: default;
    }
}

.footerSocialIcons {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 0.5em;
    line-height: 1.6;
    // padding: 0 1em;

    svg {
        width: 2.5em;
        height: 2.5em;
        transition: all 0.3s ease-in-out;
        // padding: 0.3em;
    }

    svg:hover {
        cursor: pointer;
    }
}

.footerSocialIconsAndLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 1.5em;
    margin-left: 1.5rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    li {
        text-align: left;
        font-family: $primary-font;
        line-height: 2.5;
        color: $secondary-color;
        font-weight: 500;
        font-size: clamp($font-size-mobile-wide, 3vw, $font-size-tablet);
    }
}

.footerSocialIconsItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    h1 {
        text-align: center;
        font-family: $primary-font;
        color: $secondary-color;
        font-weight: 500;
        font-size: clamp($font-size-mobile-wide, 3vw, $font-size-tablet);
    }
}

.footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
    width: 100%;
    gap: 1em;
    border-top: 2px solid $quaternary-color;
    border-width: 70%;
    padding-top: 1em;
    text-decoration: underline;
    line-height: 2;

    a {

        font-family: $primary-font;
        color: $primary-color;
        text-decoration: none;
        margin-bottom: 1em;
        font-size: clamp($font-size-mobile, 1vw, $font-size-tablet);
    }

    ul {

        text-align: center;
    }

    a:hover {
        cursor: pointer;

    }

    a:active {
        border-bottom: 1px solid $quaternary-color;
    }
}

.footerLinksItem {
    // display: block;
    margin-bottom: 0.5rem;
}

.footerLegal {
    margin: 2rem 0;
    text-align: center;

    p {
        font-style: italic;
        color: $primary-color;
        font-size: clamp($font-size-mobile-wide, 5vw, $font-size-mobile-wide);
    }
}



@include respond(lg) {

    .footer-main {
        margin: 0 auto;
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        // background-color: $quinary-color;
        box-sizing: border-box;
        width: 100%;
        max-width: 1100px;
        border-top: 1px solid $quaternary-color;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .footerSocial {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        padding: 4em 7em 2em 7em;

        iframe {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 0.5em;
            height: 42em;
        }
    }

    .footerSocialText {
        text-align: left;
        margin-bottom: 0.5em;
        cursor: pointer;

        h1 {
            color: $secondary-color;
            font-weight: 500;
            font-size: clamp($font-size-mobile-wide, 5vw, $font-size-tablet);
            margin-bottom: 0.5em;
            cursor: pointer;
            text-align: left;
            font-family: $primary-font;
        }

        h1:hover {
            cursor: default;
        }
    }

    .footerSocialIcons {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 1.5em;
        padding: 0;

        svg {
            width: 2.5rem;
            height: 2.5rem;
            transition: all 0.3s ease-in-out;
            // padding: 0.3em;
            cursor: pointer;

        }

        svg:hover {
            cursor: pointer;
        }
    }

    .footerSocialIconsAndLinks {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 4.5em;
        padding: 2em 0;
        margin-top: 2em;
    }

    .footer-links {
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        li {
            display: flex;
            flex-direction: row;
            text-align: left;
            font-family: $primary-font;
            line-height: 2.5;
            color: $secondary-color;
            font-weight: 500;
            cursor: pointer;
            font-size: clamp($font-size-mobile-wide, 5vw, $font-size-tablet);
        }
    }

    .footerSocialIconsItem {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5em;

        h1 {
            text-align: center;
            font-family: $primary-font;
            color: $secondary-color;
            font-weight: 500;
            font-size: clamp($font-size-mobile-wide, 5vw, $font-size-tablet);
            cursor: pointer;
        }
    }

    .footerLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        text-align: center;
        width: 100%;
        gap: 1em;
        border-top: 2px solid $quaternary-color;
        border-width: 70%;
        padding-top: 1em;
        text-decoration: underline;
        line-height: 2;

        a {

            font-family: $primary-font;
            color: $primary-color;
            text-decoration: none;
            margin-bottom: 1em;
            font-size: clamp($font-size-mobile, 1vw, $font-size-tablet);
        }

        ul {

            text-align: center;
        }

        a:hover {
            cursor: pointer;

        }

        a:active {
            border-bottom: 1px solid $quaternary-color;
        }
    }

    .footerLinksItem {
        // display: block;
        margin-bottom: 0.5rem;
    }

    .footerLegal {
        margin-top: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;

        p {
            font-style: italic;
            color: $primary-color;
            font-size: clamp($font-size-mobile, 2vw, $font-size-mobile-wide);
        }
    }

}