@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as *;
@use './app/styles/utils/_functions' as *;

/* Mobile styles */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    // background-color: $quinary-color;
    box-sizing: border-box;
    width: 100%;
    max-width: 78rem;
    border-top: 1px solid $quaternary-color;
    margin: 0 auto;
    box-sizing: border-box;
}

.footerSocial {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 1em;

    svg:hover {
        cursor: pointer;
    }
}

.footerSocialText {
    text-align: center;
    // margin-bottom: 1rem;

    h1 {
        font-size: clamp($font-size-mobile-wide, 2vw, $font-size-tablet);
        margin-bottom: 0.5em;
        color: $primary-color;
        text-align: center;
        font-family: $primary-font;
    }

    h1:hover {
        cursor: default;
    }
}

.footerSocialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1em;
}

.footerLinks {
    // margin-top: 1rem;
    text-align: center;

    a {
        font-family: $primary-font;
        color: $primary-color;
        text-decoration: none;
        margin-bottom: 1em;
        font-size: clamp($font-size-mobile, 1vw, $font-size-tablet);
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    a:hover {
        cursor: pointer;

    }

    a:active {
        border-bottom: 1px solid $quaternary-color;
    }
}

.footerLinksItem {
    display: block;
    margin-bottom: 0.5rem;
}

.footerLegal {
    margin-top: 1rem;
    text-align: center;

    p {
        font-style: italic;
        color: $primary-color;
        font-size: clamp($font-size-mobile, 2vw, $font-size-mobile-wide);
    }
}

@include respond(xl) {

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: $quinary-color;
        box-sizing: border-box;
        width: 100%;
        max-width: 1100px;
        border-top: 1px solid $quaternary-color;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .footerSocial {
        margin-bottom: 1rem;
    }

    .footerSocialText {
        text-align: center;
        margin-bottom: 0;
    }

    .footerSocialIcons {
        display: flex;
        justify-content: center;
        align-items: center;

        a:hover {
            cursor: pointer;
            transform: scale(1.01);
        }
    }

    .footerLinks {
        width: 100%;
        max-width: 1100px;
        margin-top: 0;
        margin-bottom: 1rem;
        // border: 1px solid black;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        a:hover {
            cursor: pointer;
            transform: scale(1.01);

        }

        a:active {
            transform: scale(1.01);
        }
    }

    .footerLegal {
        text-align: center;
        cursor: default;
    }

    .footerContact {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

}

@include respond(2xl) {

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        max-width: 78rem;
        border-top: 1px solid $quaternary-color;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .footerSocial {
        margin-bottom: 1rem;
    }

    .footerSocialText {
        text-align: center;
        margin-bottom: 0;
    }

    .footerSocialIcons {
        display: flex;
        justify-content: center;
        align-items: center;

        a:hover {
            cursor: pointer;
            transform: scale(1.01);
        }
    }

    .footerLinks {
        width: 100%;
        max-width: 1100px;
        margin-top: 0;
        margin-bottom: 1rem;
        // border: 1px solid black;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        a:hover {
            cursor: pointer;
            transform: scale(1.01);

        }

        a:active {
            transform: scale(1.01);
        }
    }

    .footerLegal {
        text-align: center;
        cursor: default;
    }
}