@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;
@use "./app/styles/utils/_mixins" as *;
@use "./app/styles/utils/_functions" as *;



// Mobile first
.hero-section {
  width: 100%;
  max-width: 1100px;
}

.hero-container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $quaternary-color;
  margin: 0 auto;
  border-radius: 0.5em;
  margin-bottom: 2em;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: lighten($quaternary-color, $amount: 10%);
  border-radius: 0 0 0.5em 0.5em;
  border-top: none;
  position: relative;




  .hero-title {
    font-size: clamp($font-size-desktop-wide, 5vw, $font-size-desktop-ultra-ultra-wide);
    font-weight: 400;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 768px;
    text-align: start;
    box-sizing: border-box;
    margin-top: -8.5rem;
    padding: 1rem 0.5em 1rem 0.5em;
    font-style: italic;
    animation: slideInFromLeft 2s forwards;
    margin-bottom: 1rem;
    height: 137px;

    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
        opacity: 0;
        background: transparent;
      }

      100% {
        transform: translateX(0);
        opacity: 1;
        background: transparent;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $secondary-color;
      opacity: 0.55;
      z-index: -1; // Put the background behind the text
    }
  }



  .hero-subtitle {
    font-size: clamp($font-size-mobile-wide, 1.5vw, $font-size-desktop);
    font-weight: 400;
    color: $primary-color;
    margin-bottom: 0.5em;
    width: 100%;
    max-width: 1024px;
    text-align: start;
    font-family: $secondary-font;
    margin: 0 auto;
    margin-top: 1em;
    text-wrap: wrap;
    padding: 0 1em;
    line-height: 1.6;
    animation: slideInFromRight 2s forwards;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;

    }

    100% {
      transform: translateX(0);
      opacity: 1;

    }
  }
}

.hero-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    border-radius: 0.5em 0.5em 0 0;
    filter: brightness(1.05);
  }
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.duration-300 {
  transition-duration: 1000ms;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.transition-timing-function {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 1em 0;
  padding: 0 1em 1em;
  gap: 1em;


  .hero-btn-1 {
    background-color: lighten($primary-color, $amount: 10%);
    color: $secondary-color;
    border-radius: 12em;
    font-size: clamp($font-size-mobile, 1vw, $font-size-mobile-wide);
    font-family: $primary-font;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    padding: 1rem 1.2rem;
    margin-top: 1rem;
    text-wrap: nowrap;
  }

  .hero-btn-2 {
    background-color: $secondary-color;
    color: $primary-color;
    border: 1px solid $quaternary-color;
    border-radius: 12em;
    font-family: $primary-font;
    font-weight: 400;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    font-size: clamp($font-size-mobile, 1vw, $font-size-mobile-wide);
    padding: 1rem 1.2rem;
    margin-top: 1rem;
    text-wrap: nowrap;
  }

  span {
    font-size: $font-size-mobile;
  }
}



@include respond(md) {
  .hero-section {
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    padding: 0 1rem;
  }

  .hero-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin: 0 auto;
    border-radius: 0.5em;
    margin-bottom: 2em;
    gap: 2em;
  }

  .hero-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-basis: 50%;
    box-sizing: border-box;
    background-color: $secondary-color;
    margin-bottom: 0px;
    border-radius: 0.5em;
    border-top: none;


    .hero-title {
      font-size: clamp($font-size-desktop-wide, 5vw, $font-size-desktop-ultra-ultra-wide);
      font-weight: 400;
      color: lighten($color: $primary-color, $amount: 10%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1100px;
      text-align: start;
      box-sizing: border-box;
      padding: 0;
      font-style: italic;
      margin-top: 0px;
      background: transparent;
      animation: slideInFromLeft 2s forwards;
      height: auto;
      font-weight: 500;
    }

    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
        opacity: 0;

      }

      100% {
        transform: translateX(0);
        opacity: 1;

      }
    }

    .hero-subtitle {
      font-size: clamp($font-size-mobile-wide, 1vw, $font-size-desktop);
      font-weight: 100;
      color: $primary-color;
      margin-bottom: 0.5em;
      width: 100%;
      max-width: 768px;
      text-align: start;
      font-family: $secondary-font;
      margin: 0 auto;
      margin-top: 1em;
      text-wrap: wrap;
      padding: 0;
      line-height: 1.5;
    }
  }

  .hero-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-basis: 50%;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5em;
    }
  }

  .hero-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 2em 0 0 0;
    padding: 0;
    gap: 1em;

    span {
      font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
    }

    .hero-btn-1 {
      position: relative;
      margin: 0;
      padding: 1rem 1.5rem;
      outline: none;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      background-color: #333;
      border-radius: 12rem;
      color: #fff;
      font-weight: 300;
      font-family: inherit;
      z-index: 0;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);

    }

    button:hover {
      animation: sh0 0.5s ease-in-out both;
      background-color: $primary-color;
      color: $primary-accent-color;
    }

    @keyframes sh0 {
      0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }

      25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
      }

      50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
      }

      75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
      }

      100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }
    }

    button:hover span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.06s;
    }

    button::before,
    button::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #fff;
      opacity: 0;
      transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
      z-index: -1;
      transform: translate(100%, -25%) translate3d(0, 0, 0);
    }

    button:hover::before,
    button:hover::after {
      opacity: 0.15;
      transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    button:hover::before {
      transform: translate3d(50%, 0, 0) scale(0.9);
    }

    button:hover::after {
      transform: translate(50%, 0) scale(1.1);
    }

    .hero-btn-2 {
      position: relative;
      margin: 0;
      padding: 1rem 1.5rem;
      outline: none;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      background-color: $secondary-color;
      color: $primary-color;
      border-radius: 12rem;
      font-weight: 300;
      font-family: inherit;
      z-index: 0;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
      border: 1px solid $primary-color;
      box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    }

    button:hover {
      animation: sh0 0.5s ease-in-out both;
    }

    @keyframes sh0 {
      0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }

      25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
      }

      50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
      }

      75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
      }

      100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }
    }

    button:hover span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.06s;
    }

    button::before,
    button::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #fff;
      opacity: 0;
      transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
      z-index: -1;
      transform: translate(100%, -25%) translate3d(0, 0, 0);
    }

    button:hover::before,
    button:hover::after {
      opacity: 0.15;
      transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    button:hover::before {
      transform: translate3d(50%, 0, 0) scale(0.9);
    }

    button:hover::after {
      transform: translate(50%, 0) scale(1.1);
    }

    button:active {
      transform: scale(0.9);

    }
  }


}

@include respond(xl) {
  .hero-section {
    width: 100%;
    padding: 0;
  }

  .hero-container {
    width: 100%;
    max-width: 1100px;
    // gap: 2em;
  }

  .hero-text-container {
    border-top: none;
    margin-left: 2em;
    // border: 1px solid $quaternary-color;

    .hero-title {
      font-size: clamp($font-size-desktop-ultra-wide, 5vw, $font-size-desktop-ultra-ultra-wide);
      font-weight: 400;
      font-style: italic;
      line-height: 1.5;
      margin-top: 0px;
      margin-bottom: 1em;
      font-style: italic;
      width: 90%;
      font-weight: 400;
    }

    .hero-subtitle {
      font-size: clamp($font-size-tablet, 1vw, $font-size-desktop);
      line-height: 1.5;
    }
  }

  .hero-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-basis: 50%;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5em;
    }
  }

  .hero-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1rem 0 0 0;
    gap: 1.5rem;
    margin-top: 3rem;

    span {
      font-size: clamp($font-size-tablet, 1vw, $font-size-desktop);
    }
  }
}