@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;
@use "./app/styles/utils/_mixins" as *;
@use "./app/styles/utils/_functions" as *;

// Mobile first


.hero-container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $quaternary-color;
  margin: 0 auto;
  border-radius: 0.5em;
  margin-bottom: 2em;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  // background-color: lighten($quaternary-color, $amount: 10%);
  border-radius: 0 0 0.5em 0.5em;
  border-top: none;




  .hero-title {
    font-size: clamp($font-size-desktop-wide, 9vw, $font-size-desktop-ultra-wide);
    font-weight: 400;
    color: $primary-accent-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 768px;
    text-align: start;
    box-sizing: border-box;
    margin-top: -3em;
    padding: 1rem 0.25em;
    font-style: italic;
    animation: slideInFromLeft 2s forwards;
    background: $secondary-color;


    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }

      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

  }

  .hero-subtitle {
    font-size: clamp($font-size-mobile-wide, 1vw, $font-size-desktop);
    font-weight: 400;
    color: $primary-color;
    margin-bottom: 0.5em;
    width: 100%;
    max-width: 1024px;
    text-align: start;
    font-family: $secondary-font;
    margin: 0 auto;
    margin-top: 1em;
    text-wrap: wrap;
    padding: 0 0.5em;
    line-height: 1.6;
    animation: slideInFromRight 2s forwards;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.hero-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    border-radius: 0.5em 0.5em 0 0;
  }
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.duration-300 {
  transition-duration: 1000ms;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.transition-timing-function {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 1em 0;
  padding: 0 0.5em;
  gap: 1em;


  .hero-btn-1 {
    background-color: lighten($primary-color, $amount: 10%);
    color: $secondary-color;
    border-radius: 12em;
    font-size: clamp(0.7rem, 1vw, 1rem);
    display: inline-block;
    font-family: $primary-font;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 1rem;
  }

  .hero-btn-2 {
    background-color: $secondary-color;
    color: $primary-color;
    border: 1px solid $quaternary-color;
    border-radius: 12em;
    font-size: clamp(0.7rem, 1vw, 1rem);
    display: inline-block;
    font-family: $primary-font;
    font-weight: 400;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 1rem;
  }

  span {
    font-size: clamp($font-size-mobile, 1vw, $font-size-desktop);
  }
}

@include respond(md) {
  .hero-section {
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    padding: 0 1rem;
  }

  .hero-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin: 0 auto;
    border-radius: 0.5em;
    margin-bottom: 2em;
    gap: 2em;
  }

  .hero-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-basis: 50%;
    max-width: 1024px;
    box-sizing: border-box;
    background-color: $secondary-color;
    margin-bottom: 0px;
    border-radius: 0.5em;
    border-top: none;


    .hero-title {
      font-size: clamp($font-size-desktop-wide, 5vw, $font-size-desktop-ultra-ultra-wide);
      font-weight: 400;
      color: $primary-accent-color;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1100px;
      text-align: start;
      box-sizing: border-box;
      // margin-top: 0.5em;
      padding: 0;
      font-style: italic;
      margin-top: 0px;
      background-color: transparent;
    }

    .hero-subtitle {
      font-size: clamp($font-size-mobile-wide, 1vw, $font-size-desktop);
      font-weight: 100;
      color: $primary-color;
      margin-bottom: 0.5em;
      width: 100%;
      max-width: 768px;
      text-align: start;
      font-family: $secondary-font;
      margin: 0 auto;
      margin-top: 1em;
      text-wrap: wrap;
      padding: 0;
      line-height: 1.5;
    }
  }

  .hero-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-basis: 50%;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5em;
    }
  }

  .hero-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1em 0 0 0;
    gap: 2em;



    .hero-btn-1.button {
      position: relative;
      margin: 0;
      padding: 0.8em 1em;
      outline: none;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      text-transform: uppercase;
      background-color: #333;
      border-radius: 10px;
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      font-family: inherit;
      z-index: 0;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    button:hover {
      animation: sh0 0.5s ease-in-out both;
    }

    @keyframes sh0 {
      0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }

      25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
      }

      50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
      }

      75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
      }

      100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }
    }

    button:hover span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.06s;
    }

    button::before,
    button::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #fff;
      opacity: 0;
      transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
      z-index: -1;
      transform: translate(100%, -25%) translate3d(0, 0, 0);
    }

    button:hover::before,
    button:hover::after {
      opacity: 0.15;
      transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    button:hover::before {
      transform: translate3d(50%, 0, 0) scale(0.9);
    }

    button:hover::after {
      transform: translate(50%, 0) scale(1.1);
    }

    .hero-btn-2.button {
      position: relative;
      margin: 0;
      padding: 0.8em 1em;
      outline: none;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      text-transform: uppercase;
      background-color: #333;
      border-radius: 10px;
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      font-family: inherit;
      z-index: 0;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    button:hover {
      animation: sh0 0.5s ease-in-out both;
    }

    @keyframes sh0 {
      0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }

      25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
      }

      50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
      }

      75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
      }

      100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }
    }

    button:hover span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.06s;
    }

    button::before,
    button::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #fff;
      opacity: 0;
      transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
      z-index: -1;
      transform: translate(100%, -25%) translate3d(0, 0, 0);
    }

    button:hover::before,
    button:hover::after {
      opacity: 0.15;
      transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    button:hover::before {
      transform: translate3d(50%, 0, 0) scale(0.9);
    }

    button:hover::after {
      transform: translate(50%, 0) scale(1.1);
    }
  }
}

@include respond(xl) {
  .hero-section {
    width: 100%;
    padding: 0;
  }

  .hero-container {
    width: 100%;
    max-width: 1100px;
    // gap: 2em;
  }

  .hero-text-container {
    border-top: none;
    margin-left: 2em;
    // border: 1px solid $quaternary-color;

    .hero-title {
      font-size: clamp($font-size-desktop-ultra-ultra-wide, 5vw, $font-size-desktop-ultra-ultra-wide);
      font-weight: 400;
      font-style: italic;
      line-height: 1.2;
      margin-top: 0px;
      margin-bottom: 1em;
      font-style: italic;
    }

    .hero-subtitle {
      font-size: clamp($font-size-tablet, 1vw, $font-size-desktop);
      line-height: 1.5;
    }
  }

  .hero-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-basis: 50%;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5em;
    }
  }

  .hero-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1em 0 0 0;
    gap: 1.5rem;



    .hero-btn-1.button {
      position: relative;
      margin: 0;
      padding: 0.8em 1em;
      outline: none;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      text-transform: uppercase;
      background-color: #333;
      border-radius: 10px;
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      font-family: inherit;
      z-index: 0;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    button:hover {
      animation: sh0 0.5s ease-in-out both;
    }

    @keyframes sh0 {
      0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }

      25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
      }

      50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
      }

      75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
      }

      100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }
    }

    button:hover span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.06s;
    }

    button::before,
    button::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #fff;
      opacity: 0;
      transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
      z-index: -1;
      transform: translate(100%, -25%) translate3d(0, 0, 0);
    }

    button:hover::before,
    button:hover::after {
      opacity: 0.15;
      transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    button:hover::before {
      transform: translate3d(50%, 0, 0) scale(0.9);
    }

    button:hover::after {
      transform: translate(50%, 0) scale(1.1);
    }

    .hero-btn-2.button {
      position: relative;
      margin: 0;
      padding: 0.8em 1em;
      outline: none;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      text-transform: uppercase;
      background-color: #333;
      border-radius: 10px;
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      font-family: inherit;
      z-index: 0;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    button:hover {
      animation: sh0 0.5s ease-in-out both;
      background-color: lighten($primary-color, $amount: 10%);
      color: $primary-accent-color;
    }

    @keyframes sh0 {
      0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }

      25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
      }

      50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
      }

      75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
      }

      100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }
    }

    button:hover span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.06s;
    }

    button::before,
    button::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #fff;
      opacity: 0;
      transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
      z-index: -1;
      transform: translate(100%, -25%) translate3d(0, 0, 0);
    }

    button:hover::before,
    button:hover::after {
      opacity: 0.15;
      transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    button:hover::before {
      transform: translate3d(50%, 0, 0) scale(0.9);
    }

    button:hover::after {
      transform: translate(50%, 0) scale(1.1);
    }
  }
}