@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as *;
@use './app/styles/utils/_functions' as *;

.hero-image-container{
    width: 100%;
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 100%;
    max-width: 1100px;
    position: relative;
    opacity: 0.6;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-container{
    width: 100%;
    max-width: 1100px;
    position: absolute;
    top: 43%;
    left: 23%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // border: 2px solid $quaternary-color;

    .hero-title{
        font-size: 3rem;
        font-weight: 600;
        color: $primary-color;
        margin-bottom: 0.5em;
    }

    .hero-subtitle{
        font-size: 1.5rem;
        font-weight: 400;
        color: $primary-color;
        margin-bottom: 0.5em;
    }
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 50%;
    margin-top: 1em;

    button+button{
        margin-left: 20px;
    }

    button:hover{
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }

    button:active{
        transform: scale(0.9);
        transition: all 0.2s ease-in-out;
    }

.hero-btn-1{
    background-color: $primary-color;
    color: $secondary-color;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 1em;
}
.hero-btn-2{
    background-color: $secondary-color;
    border: 1px solid $quaternary-color;
    color: $primary-color;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 1em;
    margin-left: 1em;
}
}