@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;
@use "./app/styles/utils/_mixins" as *;
@use "./app/styles/utils/_functions" as *;


.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1em;
  // background-color: $quinary-color;
  color: $primary-color;
  font-size: $font-size-small;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  cursor: pointer;
  // text-align: center;


  li {
    margin-bottom: 0.5em;
  }
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.team-member-container {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
  }
}

.team-image-container {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }

}



.team-member-hero {
  margin-bottom: 1em;

  h1 {
    margin-bottom: 0.3em;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: center;
    text-justify: center;
    font-family: $secondary-font;
    text-indent: 1em;
    font-style: italic;
    font-weight: 400;
    color: $primary-accent-color;
    font-size: clamp($font-size-tablet, 1vw, $font-size-desktop);
    width: 100%;
  }
}

.star-logo {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 2em;

  img {
    width: 3.5em;
    height: 3.5em;
  }

  p {
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    text-justify: center;
    font-family: $secondary-font;
    font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
  }
}

.team-member {
  width: 100%;
  max-width: 1100px;

  .description {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    text-justify: newspaper;
    font-family: $secondary-font;
    line-height: 1.6;
    letter-spacing: normal;
    font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
  }
}

//Tablet-Small

@include respond(sm) {
  .about-container {
    display: flex;


    li {
      margin-bottom: 0.5em;
    }
  }

  .team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .team-member-container {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0.5em;
    }
  }

  .team-image-container {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5em;
      margin-bottom: 1em;
    }
  }



  .team-member-hero {
    margin-bottom: 1em;

    h1 {
      font-size: clamp($font-size-tablet, 2vw, $font-size-desktop);
    }
  }

  .star-logo {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 2em;

    img {
      width: 2.5em;
      height: 2.5em;
    }

    p {
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      text-justify: center;
      font-family: $secondary-font;
      font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
    }
  }

  .team-member {
    width: 100%;
    max-width: 1100px;

    .description {
      width: 100%;
      margin: 0 auto;
      text-align: left;
      // text-justify: newspaper;
      font-family: $secondary-font;
      line-height: 1.6;
      letter-spacing: normal;
      font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
    }
  }
}

@include respond(md) {
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    border-radius: 0.5em;
    color: $primary-color;
    font-size: $font-size-small;
    letter-spacing: normal;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    margin-top: 2rem;


    li {
      margin-bottom: 0.5em;
    }
  }

  .team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .team-member-container {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0.5em;
    }
  }

  .team-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    gap: 2.5rem;

    img {
      width: 40%;
      height: auto;
      object-fit: cover;
      border-radius: 0.5em;
      margin-bottom: 1em;
    }

    h1 {
      font-size: clamp($font-size-tablet, 1vw, $font-size-desktop);
      margin-bottom: 0.5em;
      // color: $primary-accent-color;
      text-align: center;
      padding: 0 1em;
      font-style: italic;
    }
  }

  .team-member-hero {
    margin-bottom: 1rem;

    h1 {
      margin-bottom: 1em;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      text-justify: left;
      font-family: $secondary-font;
      letter-spacing: normal;
      padding: 0;
      font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
    }
  }

  .star-logo {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 2em;

    img {
      width: 2em;
      height: 2em;
    }

    p {
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      text-justify: center;
      font-family: $secondary-font;
      font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
    }
  }

  .team-member {
    width: 100%;
    max-width: 1100px;

    .description {
      width: 100%;
      margin: 0 auto;
      text-align: left;
      font-family: $secondary-font;
      line-height: 1.6;
      letter-spacing: normal;
      font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
    }
  }
}

@include respond(xl) {
  .about-container {
    display: flex;
    padding: 0;




    li {
      margin-bottom: 0.5em;
    }
  }

  .team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-member-container {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0.5em;
    }
  }

  .team-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    gap: 3rem;

    img {
      width: 35%;
      height: auto;
      object-fit: cover;
      border-radius: 0.5em;
      margin-bottom: 1em;
    }

    h1 {
      font-size: clamp($font-size-desktop, 1vw, $font-size-desktop-wide);
      margin-bottom: 0.5em;
      // color: $primary-accent-color;
      text-align: center;
      padding: 0 1em;
      font-style: italic;
      text-wrap: wrap;
    }
  }

  .team-member-hero {
    margin: 2rem 0;

    h1 {
      margin-bottom: 1em;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      text-justify: center;
      font-family: $secondary-font;
      letter-spacing: normal;
      font-size: clamp($font-size-tablet, 1vw, $font-size-desktop);
      width: 100%;
      padding: 0;
    }
  }

  .star-logo {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 2em;

    img {
      width: 2.5em;
      height: 2.5em;
    }

    h1 {
      font-size: clamp($font-size-desktop, 1vw, $font-size-desktop-wide);
      text-align: center;
    }

    p {
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      text-justify: center;
      font-family: $secondary-font;
      font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
    }
  }

  .team-member {
    width: 100%;
    max-width: 1100px;

    .description {
      width: 100%;
      margin: 0 auto;
      text-align: left;
      text-justify: left;
      font-family: $secondary-font;
      line-height: 2;
      letter-spacing: normal;
      font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
    }
  }
}

@include respond(2xl) {
  .about-container {
    display: flex;
    margin-top: 2em;

    li {
      margin-bottom: 0.5em;
    }
  }

  .team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .team-member-container {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0.5em;
    }
  }

  .team-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    gap: 4em;

    img {
      width: 37%;
      height: auto;
      object-fit: cover;
      border-radius: 0.5em;
      margin-bottom: 1em;
    }

    h1 {
      font-size: clamp($font-size-desktop-wide, 1vw, $font-size-desktop-ultra-wide);
      margin-bottom: 0.5em;
      // color: $primary-accent-color;
      text-align: left;
      padding: 0;
      font-style: italic;
    }
  }

  .team-member-hero {
    margin: 1em 0;
    padding-top: 3em;

    h1 {
      margin-bottom: 1em;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      text-justify: center;
      font-family: $secondary-font;
      letter-spacing: normal;
      font-size: clamp($font-size-desktop, 1vw, $font-size-desktop-ultra-wide);
      width: 100%;
      padding: 0;

    }
  }

  .star-logo {
    // margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    // margin-bottom: 2em;

    img {
      width: 3em;
      height: 3em;
    }

    h1 {
      text-align: center;
    }

    p {
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      text-justify: center;
      font-family: $secondary-font;
      font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
    }
  }

  .team-member {
    width: 100%;
    max-width: 1100px;

    .description {
      width: 100%;
      margin: 0 auto;
      text-align: left;
      text-justify: newspaper;
      font-family: $secondary-font;
      line-height: 2;
      letter-spacing: normal;
      font-size: clamp($font-size-tablet, 1vw, $font-size-desktop-ultra-wide);
    }
  }
}