@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;
@use "./app/styles/utils/_mixins" as *;
@use "./app/styles/utils/_functions" as *;

.main {
    width: 100%;
    max-width: 1100px;
    // background-color: aquamarine;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;



    p {
        font-size: clamp($font-size-mobile-wide, 3vw, $font-size-desktop-wide);
        font-weight: 400;
        text-align: center;
        margin: 0 auto;
        line-height: 1.5;
        margin-bottom: 0.5rem;

    }

    ::-webkit-scrollbar {
        background-color: $quinary-color;
        width: 100%;
        height: 0.7rem;
        border-radius: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: darken($color: $quaternary-color, $amount: 1%);
        border-radius: 1rem;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $quinary-color;
        border-radius: 1em;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $quinary-color;
    }
}

.google-reviews-title {
    width: 100%;
    height: 100%;
    max-width: 1100px;
    font-size: clamp($font-size-desktop, 5vw, $font-size-desktop-wide);
    padding: 1rem 0;
    text-align: center;
}

.google-reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;



    img {
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 450px;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }


}

.google-review-item {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    align-items: center;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-align: center;
    scroll-snap-type: inline mandatory;
    // scroll-padding-inline: 1rem;
    width: 100%;
    max-width: 1100px;
    border-radius: 0.5rem;
    opacity: 1;
    gap: 3.5em;
    box-sizing: border-box;
    padding: 1rem 3rem 2rem;


    img {
        scroll-padding-inline: 3rem;
        scroll-snap-align: center;
        overscroll-behavior-inline: contain;
        width: 100%;
    }

    img:hover {
        transform: scale(1.03);
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    img:active {
        transform: scale(0.95) rotateZ(1.7deg);
    }


}

@include respond(xs) {

    .main {
        width: 100%;

        p {
            font-size: clamp($font-size-mobile-wide, 1vw, $font-size-desktop-wide);
            font-weight: 400;
            text-align: left;
            margin: 0 auto;
            padding: 1em 0.5em;
            line-height: 1.5;

        }
    }

    .google-reviews-title {
        width: 100%;
        height: 100%;
        max-width: 1100px;
        font-size: clamp($font-size-desktop, 5vw, $font-size-desktop-wide);
        padding: 1rem 0 0 0;
        text-align: center;
    }

    .google-reviews-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1100px;


        img {
            width: 100%;
        }


    }

    .google-review-item {
        gap: 2rem;
        grid-auto-columns: 50%;
        padding: 1rem 1rem;

        img {
            scroll-padding-inline: 3rem;
            scroll-snap-align: center;
            overscroll-behavior-inline: contain;
            width: 100%;

        }
    }
}

@include respond(md) {
    .main {
        width: 100%;

        p {
            font-size: clamp($font-size-mobile-wide, 1vw, $font-size-desktop-wide);
            font-weight: 400;
            text-align: left;
            margin: 0 auto;
            padding: 1em 0.5em;
            line-height: 1.5;
            margin-bottom: 0;

        }
    }

    .google-reviews-title {
        width: 100%;
        height: 100%;
        max-width: 1100px;
        font-size: clamp($font-size-desktop, 5vw, $font-size-desktop-wide);
        padding: 0;
        text-align: center;
    }

    .google-reviews-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1100px;

        img {
            width: 100%;
            height: 100%;
            max-width: 300px;
            max-height: 450px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }

    .google-review-item {

        grid-auto-columns: 30%;
        opacity: 1;
        gap: 2rem;
        box-sizing: border-box;
        // padding: 1rem 1rem;

        img {
            scroll-padding-inline: 3rem;
            scroll-snap-align: center;
            overscroll-behavior-inline: contain;
            width: 100%;

        }
    }
}

@include respond(lg) {
    .main {
        width: 100%;
        margin-bottom: 2rem;


        p {
            font-size: clamp($font-size-mobile-wide, 1.5vw, $font-size-desktop-wide);
            font-weight: 400;
            text-align: left;
            margin: 0 auto;
            padding: 0 0.5em;
            line-height: 1.5;
            margin-bottom: 1rem;

        }
    }

    .google-reviews-title {
        width: 100%;
        height: 100%;
        max-width: 1100px;
        font-size: clamp($font-size-desktop, 5vw, $font-size-desktop-wide);
        padding: 1rem 0;
        text-align: center;
    }

    .google-reviews-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1100px;



        img {
            object-fit: cover;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin: 1rem;
        }


    }

    .google-review-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 2.5rem;


        img {
            width: 260px;
            height: auto;
        }
    }

    .services-scroll-container {
        appearance: none;
    }
}

@include respond(xl) {
    .main {
        width: 100%;
        margin-bottom: 2rem;


        p {
            font-size: clamp($font-size-mobile-wide, 1.5vw, $font-size-desktop-wide);
            font-weight: 400;
            text-align: left;
            margin: 0 auto;
            padding: 0 0.5em;
            line-height: 1.5;
            margin-bottom: 1rem;

        }
    }

    .google-reviews-title {
        width: 100%;
        height: 100%;
        max-width: 1100px;
        font-size: clamp($font-size-desktop, 5vw, $font-size-desktop-wide);
        padding: 1rem 0;
        text-align: center;
    }

    .google-reviews-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1100px;



        img {
            object-fit: cover;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin: 1rem;
        }


    }

    .google-review-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 0;


        img {
            width: 350px;
            height: auto;
        }
    }

    .services-scroll-container {
        appearance: none;
    }
}