@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as *;
@use './app/styles/utils/_functions' as *;

.main {
  padding: 0 1em;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    padding: 0 2em;
    margin-top: 2em;
  }
}