@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as *;
@use './app/styles/utils/_functions' as *;


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    // padding: 1em;
    // padding-top: 105px;
}

.gallery-title-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // padding: 0 1em;
    text-align: center;
    // box-shadow: 0 0 0.5em rgba($primary-color, 0.1);
    padding: 0 1em;
    ;

    h1 {
        font-size: clamp($font-size-desktop, 5vw, $font-size-desktop-ultra-wide);
        color: $primary-color;
        margin-left: 0.2em;
    }

    p {
        font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
        color: $primary-color;
        font-family: $primary-font;
        text-align: left;
        line-height: 1.5;
    }
}

.gallery-container {
    width: 100%;
    max-width: 1100px;
    // margin-top: 1em;
    // padding: 0.5em;

    .sidebar-button {
        background-color: $secondary-color;
        // padding: 0 0.4em;
    }
}

.sidebar-container {
    position: relative;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    // box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    border: 1px solid $quaternary-color;
    // background-color: lighten($quaternary-color, 10%);

    border-radius: 0.5em;
}

.sidebar-open {
    transform: translateX(0);

}


.image-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 1em;
    padding: 1em;

    img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;
        margin-bottom: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;


        &:hover {
            transform: scale(1.07);
            transition: all 0.3s ease-in-out;
            // padding: 0.5em;
        }
    }
}

.category-buttons {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    // padding: 0 2rem;

    @keyframes fade-in-top {
        from {
            opacity: 0;
            transform: translateY(-20%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }


    h1 {
        font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
        color: $primary-color;
        font-family: $secondary-font;
        border-bottom: 1px solid $quaternary-color;
        padding-bottom: 0.5em;
        width: 60%;
        margin: 0 auto;
        animation: fade-in-top 2.5s ease-in-out;


    }

    button {
        width: 100%;
        padding: 0 1em;
        color: $primary-color;

        padding: 1.5em 1em;
        text-align: center;
        border-radius: 1rem;
        // border-bottom: 1px solid $quaternary-color;



        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $quaternary-color;
            // transform: scale(1.1);
            // transition: all 0.3s ease-in-out;
        }
    }

    button+button {
        margin-left: 0;
    }



}




// //Desktop
@include respond(lg) {

    .wrapper {
        padding-top: 150px;
        margin: 0 auto;
    }

    .gallery-container {

        overflow: hidden;

        h1 {
            font-size: $font-size-desktop-ultra-wide;
            margin-top: 1rem;
        }
    }

    .sidebar-container {
        width: 32%;
        box-shadow: none;
    }

    .category-buttons {
        overflow: hidden;


        button {
            width: 100%;
            font-size: $font-size-tablet;
            // padding: 0.7em 1rem;
            padding: 1em 0;

        }

        h1 {
            width: 100%;
            margin: 0 auto;
            font-size: $font-size-desktop;
        }
    }

    .horizontal-scroll-icon {
        display: none;
    }

    .image-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0.5rem;
        text-align: center;
        gap: 2.3rem;
        padding: 1rem;
        overflow-x: hidden;

        img {
            width: 20rem;
            height: 20rem;
            border-radius: 1rem;
            object-fit: cover;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.01);
                transition: all 0.3s ease-in-out;
                scroll-behavior: horizontal;
            }
        }
    }
}