@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as *;
@use './app/styles/utils/_functions' as *;


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    height: max-content;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}

.gallery-title-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 0 0.5em rgba($primary-color, 0.1);
    padding: 0 0.5em;


    h1 {
        font-size: clamp($font-size-desktop-wide, 5vw, $font-size-desktop-ultra-wide);
        color: $primary-color;
        margin-left: 0.2em;
    }

    p {
        font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
        color: $primary-color;
        font-family: $primary-font;
        text-align: left;
        line-height: 1.5;
    }
}

.gallery-container {
    width: 100%;
    max-width: 1100px;
    background-color: #fff;

    .sidebar-button {
        background-color: $secondary-color;
    }
}

.sidebar-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    padding-top: 1em;

}

.sidebar {
    position: fixed;
    top: 50;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 0.5em 0 0 0.5em;
    background-color: rgba($secondary-color, 0.80);
    margin-top: 1.5em;
}

.sidebar-open {
    transform: translateX(0);
    margin-top: 1.5em;
    animation: fade-in-right 0.8s ease-in-out;

    @keyframes fade-in-right {
        from {
            opacity: 0;
            transform: translateX(100%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.sidebar-close {
    transform: translateX(100%);
    margin-top: 1.5em;
    animation: fade-out-right 0.8s ease-in-out;

    @keyframes fade-out-right {
        from {
            opacity: 1;
            transform: translateX(0);
        }

        to {
            opacity: 0;
            transform: translateX(100%);
        }
    }
}

// .image {
//     position: relative;
// }

.image-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 1em;
    padding: 1em;


    img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;
        margin-bottom: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;




    }
}

.category-buttons {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    // gap: 0.5em;
    padding: 1.2rem 0;



    button {
        width: 100%;
        padding: 1.2rem;
        // border-radius: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: inline-block;
        font-size: clamp($font-size-tablet, 1vw, $font-size-tablet);
        color: rgba($primary-color, 0.8);
        font-family: $secondary-font;
        width: 100%;
        // margin: 0 auto;
        animation: fade-in-top 2.5s ease-in-out;
        text-align: center;
        padding-bottom: 0.5em;
        border-bottom: 1px solid rgba($primary-color, 0.8);
        width: max-content;
        margin-bottom: 1em;

        // &:hover {
        //     transform: scale(1.1);
        //     transition: all 0.3s ease-in-out;
        // }
    }

    @keyframes fade-in-top {
        from {
            opacity: 0;
            transform: translateY(-20%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    button+button {
        margin-left: 0;
    }



}




// //Desktop
@include respond(lg) {

    .wrapper {
        // padding-top: 150px;
        margin: 0 auto;
    }

    .gallery-container {

        overflow: hidden;

        h1 {
            font-size: $font-size-desktop-ultra-wide;
            margin-top: 1rem;
        }
    }

    .sidebar-container {
        width: 100%;
        box-shadow: none;
        margin: 0 auto;
    }

    .category-buttons {
        overflow: hidden;


        button {
            width: 100%;
            font-size: $font-size-tablet;
            padding: 0.7em 1rem;
            padding: 1em 0;

        }

        h1 {
            width: 100%;
            margin: 0 auto;
            font-size: $font-size-desktop;
        }
    }

    .horizontal-scroll-icon {
        display: none;
    }

    .image-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0.5rem;
        text-align: center;
        gap: 2.3rem;
        padding: 1rem;
        overflow-x: hidden;

        img {
            width: 20rem;
            height: 20rem;
            border-radius: 1rem;
            object-fit: cover;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.01);
                transition: all 0.3s ease-in-out;
                scroll-behavior: horizontal;
            }
        }
    }
}