@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as *;
@use './app/styles/utils/_functions' as *;


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    height: 100dvh auto;
    margin: 0 auto;
    position: relative;
    // background-color: #fff;
}

.gallery-title-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 0 0.5em rgba($primary-color, 0.1);
    padding: 0 0.5em;


    h1 {
        font-size: clamp($font-size-desktop, 5vw, $font-size-desktop-wide);
        color: $primary-color;
        margin-left: 0.2em;
        text-align: center;
        color: $primary-color;

    }

    p {
        font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
        color: $primary-color;
        font-family: $primary-font;
        text-align: left;
        line-height: 1.5;
    }
}

.gallery-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 700px;

    .sidebar-button {
        background-color: $secondary-color;
    }
}

.image-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 1em;
    padding: 1em;
    overflow: hidden;
    gap: 1em;

    img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;
        // margin-bottom: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

    }

    img:hover {
        transform: scale(1.03);
        transition: all 0.3s ease-in-out;
    }
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}

.duration-300 {
    transition-duration: 2500ms;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}




.sidebar-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    padding-top: 1em;

}

.sidebar {
    position: fixed;
    top: 50;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 1;
    border-radius: 0.5em 0 0 0.5em;
    background-color: rgba($secondary-color, 0.85);
    margin-top: 1.5em;
    overflow-y: auto;
}

.sidebar-open {
    transform: translateX(0);
    margin-top: 1.5em;
    animation: fade-in-right 0.8s ease-in-out;

    @keyframes fade-in-right {
        from {
            opacity: 0;
            transform: translateX(100%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.sidebar-close {
    transform: translateX(100%);
    margin-top: 1.5em;
    animation: fade-out-right 0.8s ease-in-out;

    @keyframes fade-out-right {
        from {
            opacity: 1;
            transform: translateX(0);
        }

        to {
            opacity: 0;
            transform: translateX(100%);
        }
    }
}

.category-buttons {
    width: 50%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    // gap: 0.5em;
    padding: 0.2rem 0;



    button {
        width: 100%;
        padding: 0.2rem;
        // border-radius: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: inline-block;
        font-size: $font-size-mobile-wide;
        color: rgba($primary-color, 1);
        font-family: $secondary-font;
        width: 100%;
        animation: fade-in-top 2.5s ease-in-out;
        text-align: center;
        padding-bottom: 0.5em;
        border-bottom: 1px solid rgba($primary-color, 0.8);
        width: max-content;
        margin-bottom: 1em;

        &:hover {
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
        }
    }

    button+button {
        margin-left: 0;
    }



}




//Mobile & Tablet Small


@include respond(sm) {

    .wrapper {
        // padding-top: 150px;
        margin: 0 auto;
    }

    .gallery-title-container {
        padding: 0 1em;

        h1 {
            font-size: $font-size-desktop;
        }
    }

    .gallery-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;

        h1 {
            font-size: $font-size-desktop-wide;
            // margin-top: 1rem;
        }
    }

    .image-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0.5rem;
        text-align: center;
        gap: 2em;
        // padding: 1rem;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        // margin-left: 1em;

        img {
            width: 18rem;
            height: 18rem;
            border-radius: 1rem;
            object-fit: cover;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.03);
                transition: all 0.3s ease-in-out;
                scroll-behavior: horizontal;
            }
        }
    }

    .sidebar-container {
        width: 100%;
        box-shadow: none;
    }

    .sidebar {
        position: absolute; // changed from 'fixed' to 'absolute'
        top: 0;
        right: 0;
        width: 50%; // adjust this value as needed
        height: 100vh;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
        // box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
        margin-top: 5em;
    }

    .sidebar-open {
        transform: translateX(0);
        animation: fade-in-right 0.8s ease-in-out;
        margin-top: 5em;

        @keyframes fade-in-right {
            from {
                opacity: 0;
                transform: translateX(100%);
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    .sidebar-close {
        transform: translateX(100%);
        animation: fade-out-right 0.8s ease-in-out;
        margin-top: 5em;

        @keyframes fade-out-right {
            from {
                opacity: 1;
                transform: translateX(0);
            }

            to {
                opacity: 0;
                transform: translateX(100%);
            }
        }
    }



    .category-buttons {
        overflow: hidden;
        width: 70%;
        margin-top: 1em;


        button {
            width: 100%;
            font-size: $font-size-mobile;
            padding: 0.7em 1rem;
            border-width: 50%;
            margin-bottom: 0;

        }

        h1 {
            width: 100%;
            margin: 0 auto;
            font-size: $font-size-desktop;
        }
    }

    .horizontal-scroll-icon {
        display: none;
    }


}

@include respond(md) {

    .sidebar {
        width: 50%;
    }

    .gallery-container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        min-height: 700px;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: $font-size-desktop-wide;
        }

        .sidebar-button {
            background-color: $secondary-color;
        }

        &:hover .image-container img:not(:hover) {
            opacity: 0.55;
            transition: all 0.3s ease-in-out;
        }
    }

    .image-container {
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-top: 1em;
        padding: 1em;
        overflow: hidden;
        gap: 1em;
        position: relative;


        img {
            width: 16.5em;
            height: 16.5em;
            border-radius: 1rem;
            object-fit: cover;
            // margin-bottom: 1rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

        }

        img:hover {
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
        }
    }


    .gallery-title-container {
        padding: 0 1em;

        h1 {
            font-size: $font-size-desktop-wide;
        }
    }
}

//Desktop Wide

@include respond(lg) {

    .gallery-container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        min-height: 700px;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: $font-size-desktop-wide;
        }

        .sidebar-button {
            background-color: $secondary-color;
        }

        &:hover .image-container img:not(:hover) {
            opacity: 0.55;
            transition: all 0.3s ease-in-out;
        }
    }

    .image-container {
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-top: 1em;
        padding: 1em;
        overflow: hidden;
        gap: 1em;
        position: relative;


        img {
            width: 20.5em;
            height: 20.5em;
            border-radius: 1rem;
            object-fit: cover;
            // margin-bottom: 1rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

        }

        img:hover {
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
        }
    }

    .sidebar {
        width: 36%;

        button {
            font-size: $font-size-mobile;
            text-align: left;
        }
    }

    .gallery-title-container {
        padding: 0 1.2em;
        margin-top: 1em;

        h1 {
            font-size: $font-size-desktop-wide;
        }
    }
}

//Desktop Ultra Wide

@include respond(2xl) {

    .gallery-container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        min-height: 700px;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: $font-size-desktop-wide;
        }

        .sidebar-button {
            background-color: $secondary-color;
        }

        &:hover .image-container img:not(:hover) {
            opacity: 0.55;
            transition: all 0.3s ease-in-out;
        }
    }

    .image-container {
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-top: 1em;
        padding: 1em;
        overflow: hidden;
        gap: 1em;
        position: relative;


        img {
            width: 21em;
            height: 21em;
            border-radius: 1rem;
            object-fit: cover;
            // margin-bottom: 1rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

        }

        img:hover {
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }
    }

    .sidebar {
        width: 34.5%;

        button {
            font-size: $font-size-mobile-wide;
            text-align: left;

        }
    }

    .gallery-title-container {
        padding: 0 1.2em;
        margin-top: 1em;

        h1 {
            font-size: $font-size-desktop-ultra-wide;
        }
    }
}