$breakpoints: (
    xxs: 320px,
    xs: 500px,
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1536px,
);

@mixin respond($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @error "Unfortunately, no value could be retrieved from `#{$breakpoint}`.";
    }
}