@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;
@use "./app/styles/utils/_mixins" as *;
@use "./app/styles/utils/_functions" as *;

.blog-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  padding: 0 1em;
}
.blog-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;

  h1 {
    font-size: $font-size-desktop;
    font-weight: 500;
    text-align: center;
    border: 1px solid $quaternary-color;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 1100px;
    margin-bottom: 1em;
    border-radius: 0.5rem;
    padding: 0 1em;
  }
}

.blog-container {
  margin-bottom: 2em;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  gap: 1rem;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.5rem;
    background: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0.7em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: $font-size-mobile;
    font-family: $primary-font;
    text-align: justify;
    text-justify: inter-word;
    text-wrap: wrap;
    margin-bottom: 2em;
    line-height: 1.5;
  }
}

.article-title {
  font-size: $font-size-tablet;
  margin-bottom: 0.3em;
  border-radius: 0.5rem;
  padding: 0 0.3em;
}

.article-date {
  font-size: $font-size-mobile;
  font-weight: 400;
  margin-bottom: 1em;
  border-radius: 0.5rem;
  padding: 0 0.5em;
}

.article-content {
  padding: 0 0.5em;
  font-family: $primary-font;
  font-size: clamp(0.8rem, 1.5vw, 0.99rem);
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
  text-wrap: wrap;
  margin-bottom: 2em;
  white-space: pre-wrap;
  letter-spacing: 0.5px;
}

.blog-sidebar {
  width: 100%;
  height: 100%;
  // border: 1px solid $quaternary-color;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0.5rem;
  // margin-right: 1em;
  margin-top: 2em;
  padding: 1em;

  h1 {
    font-size: $font-size-tablet;
    text-align: start;
    text-wrap: wrap;
    line-height: 1.5;
    width: 100%;
    color: $primary-color;
    margin-bottom: 0.5em;
  }

  h1:hover {
    color: $primary-accent-color;
    text-decoration: underline;
    transform: scale(1.01);
    cursor: pointer;
    // transition: transform 0.5s ease-in;
  }
  p {
    margin-bottom: 2em;
  }
  p:hover {
    cursor: pointer;
  }
  h2 {
    font-size: $font-size-desktop;
    text-align: start;
    text-wrap: wrap;
    line-height: 1.5;
    width: 100%;
    color: $primary-color;
    width: 100%;
    margin-bottom: 1em;
  }
}
.custom-contact {
  padding: 1em;
}

// Tablet

@media screen and (min-width: 768px) {
  .blog-container {
    // flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 2em;
    // padding: 0 2em;
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 0.5rem;
      background: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 0.7em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    p {
      font-size: $font-size-mobile;
      font-family: $primary-font;
      // font-weight: 400;
      text-align: justify;
      text-justify: inter-word;
      text-wrap: wrap;
      margin-bottom: 2em;
      line-height: 1.5;
      // padding: 0 1em;
    }
  }

  .article {
    display: flex;
    flex-direction: column;
  }
  .article-title {
    font-size: $font-size-desktop;
    margin-bottom: 0.3em;
    border-radius: 0.5rem;
    padding: 0.5em;
    //   margin-left: 0.3em;
  }
  .article-date {
    font-size: $font-size-tablet;
    font-weight: 400;
    margin-bottom: 1em;
    border-radius: 0.5rem;
    padding: 0 0.5em;
  }
  .article-content {
    padding: 0 0.5em;
    font-family: $primary-font;
    font-size: $font-size-tablet;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    text-wrap: wrap;
    margin-bottom: 2em;
  }
}

.blog-sidebar {
  width: 100%;
  height: 100%;
  // border: 1px solid $quaternary-color;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0.5rem;
  // margin-right: 1em;
  margin-top: 2em;

  h1 {
    font-size: $font-size-tablet;
    text-align: start;
    text-wrap: wrap;
    line-height: 1.5;
    width: 100%;
    color: $primary-color;
    margin-bottom: 0.5em;
  }

  h1:hover {
    color: $primary-accent-color;
    text-decoration: underline;
    transform: scale(1.01);
    cursor: pointer;
    // transition: transform 0.5s ease-in;
  }
  p {
    margin-bottom: 2em;
  }
  p:hover {
    cursor: pointer;
  }
  h2 {
    font-size: $font-size-desktop;
    text-align: start;
    text-wrap: wrap;
    line-height: 1.5;
    width: 100%;
    color: $primary-color;
    width: 100%;
    margin-bottom: 1em;
  }
}
.custom-contact {
  border: none;
}

// Desktop

@media screen and (min-width: 1024px) {
  .blog-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding: 0;
  }

  .blog-page {
    h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .blog-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // gap: 2rem;
    // margin-top: 2em;
    border: none;

    img {
      width: 50%;
      height: auto;
      object-fit: contain;
      border-radius: 0.5rem;
      background: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h2 {
      font-size: $font-size-desktop-ultra-wide;
      text-align: start;
      text-wrap: wrap;
      line-height: 1.5;
      width: 100%;
      color: $primary-color;
      width: 60%;
    }

    .article {
      display: flex;
      flex-direction: column;
    }
    .article-title {
      font-size: $font-size-desktop-ultra-wide;
      margin-bottom: 0.3em;
      border-radius: 0.5rem;
      // padding: 0.5em;
      text-align: left;
      //   margin-left: 0.3em;
    }
    .article-date {
      font-size: $font-size-mobile;
      font-weight: 400;
      // margin-bottom: 1em;
      border-radius: 0.5rem;
      // padding: 0 0.5em;
      font-family: $primary-font;
    }
    .article-content {
      padding-right: 1em;
      font-family: $primary-font;
      font-size: clamp(0.6rem, 1.5vw, 0.99rem);
      text-align: justify;
      text-justify: inter-word;
      text-wrap: wrap;
      margin-bottom: 2em;
      white-space: pre-wrap;
      font-weight: 100;
    }
  }
  .blog-sidebar {
    width: 40%;
    height: 100%;
    border: 1px solid $quaternary-color;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0.5rem;
    // margin-right: 1em;
    margin-top: 2em;

    h1 {
      font-size: $font-size-tablet;
      text-align: start;
      text-wrap: wrap;
      line-height: 1.5;
      width: 100%;
      color: $primary-color;
      margin-bottom: 0.5em;
    }

    h1:hover {
      color: $primary-accent-color;
      text-decoration: underline;
      transform: scale(1.01);
      cursor: pointer;
      // transition: transform 0.5s ease-in;
    }
    p {
      margin-bottom: 2em;
    }
    p:hover {
      cursor: pointer;
    }
    h2 {
      font-size: $font-size-desktop;
      text-align: start;
      text-wrap: wrap;
      line-height: 1.5;
      width: 100%;
      color: $primary-color;
      width: 100%;
      margin-bottom: 1em;
    }
  }

  .custom-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    border-radius: 0.5rem;
    margin-bottom: 2em;

    h1 {
      font-size: $font-size-desktop-ultra-wide;
      font-weight: 500;
      text-align: center;
      // padding: 0.2em;
      width: 100%;
      max-width: 1100px;
      border-radius: 0.5rem;
    }
    h2 {
      font-size: $font-size-tablet;
      text-align: center;
      text-wrap: wrap;
      width: 100%;
      color: $primary-color;
      width: 100%;
      margin-bottom: 0.5em;
    }
    p {
      font-size: $font-size-tablet;
      font-family: $primary-font;
      // font-weight: 400;
      text-align: center;
      text-justify: inter-word;
      text-wrap: wrap;
      // margin-bottom: 2em;
      line-height: 1.5;
      padding: 0 1em;
    }
    iframe {
      width: 100%;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }
  }
  .blog-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    // margin-top: 2em;
    border: none;
    // margin-bottom: 2em;
  }
}
