@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;
@use "./app/styles/utils/_mixins" as *;
@use "./app/styles/utils/_functions" as *;


.blog-main {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;


}

.blog-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    margin: 2rem 0;
    scroll-behavior: smooth;




    ::-webkit-scrollbar {
        background-color: $quinary-color;
        width: 100%;
        height: 0.7rem;
        border-radius: 1rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: darken($color: $quaternary-color, $amount: 15%);
        border-radius: 1rem;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $quinary-color;
        border-radius: 1em;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $quinary-color;
    }
}

.blog-title-container {
    width: 100%;
    max-width: 1100px;
    margin: 1rem 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(125, 125, 125, 0.5);
    background-image: linear-gradient(to right, $quinary-color, $secondary-color 70%);

    h1 {
        font-size: clamp($font-size-tablet, 5vw, $font-size-desktop-wide);
        font-weight: 500;
        text-align: center;
        padding: 1rem 0.3rem;
        line-height: 1.5;
    }
}

.blog-scroll-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-align: center;
    scroll-padding-inline: 1rem;
    scroll-snap-type: x mandatory;
}

.blog-scroll-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 0.5rem;
    gap: 2em;
    overflow-x: auto;
    margin: 0.5rem 0;


    button {
        display: inline-block;
        padding: 0.2rem 0.7rem;
        font-size: clamp($font-size-mobile-wide, 1vw, $font-size-tablet);
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #000000;
        background-color: #ffffff;
        border: none;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 1;
        margin: 1em 0 1em 0;
        font-weight: 900;
    }

    button:hover {
        background-color: #ffffff;
        transform: translateY(-2px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }

    button:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.3);
    }

    button:active {
        transform: translateY(1px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .button:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    button::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50px;
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }

    button:hover::before {
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
    }
}

.blog-container {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 3.5rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    align-self: start;
    scroll-snap-align: center;
    scroll-padding-inline: 0rem;
    scroll-snap-type: x mandatory;
    padding: 2rem 0.5rem;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 0.5rem;
        background: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 0.7em;
    }

    img:hover {
        cursor: pointer;
    }

    p {
        font-size: $font-size-mobile;
        font-family: $primary-font;
        font-weight: 400;
        text-align: justify;
        text-justify: inter-word;
        text-wrap: wrap;
        margin-bottom: 1rem;
    }


}



.article {
    border: 1px solid $quaternary-color;
    margin-bottom: 2em;
    border-radius: 0.5rem;
    width: 100%;
    scroll-snap-align: center;
    overscroll-behavior-inline: contain;
    opacity: 1;
    // box-shadow: 15px 15px 30px #bebebe,
    //     -15px -15px 30px #ffffff;
    box-shadow: 0 0 10px rgba(125, 125, 125, 0.5);

    &:first-child {
        grid-column-start: 0;
        margin-left: 0;
        padding-left: 0;
    }

    &:last-child {
        grid-column-end: 1;
        margin-right: 0;
        padding-right: 0;
    }

    h2 {
        font-size: $font-size-tablet;
        font-weight: 500;
        text-align: start;
        width: 100%;
        max-width: 1100px;
        padding: 0 0.5rem 1REM 1rem;
        margin: 0.5em 0;
    }

    p {
        padding: 0 0 0 1rem;
        font-family: $primary-font;
        // background-color: aquamarine;
    }

    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }

    &:active {
        transform: scale(0.95) rotateZ(1.7deg);
        transition: all 0.3s ease-in-out;
    }
}


.blog-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding: 0 1em;
    margin-bottom: 2em;

    button {
        position: relative;
        margin: 0;
        padding: 1rem 1.5em;
        outline: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid $quaternary-color;
        background-color: $secondary-color;
        border-radius: 12rem;
        color: $primary-color;
        font-weight: 300;
        font-size: clamp($font-size-mobile-wide, 3vw, $font-size-tablet);
        font-family: inherit;
        z-index: 0;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
        box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    }

    button:hover {
        animation: sh0 0.5s ease-in-out both;
        background-color: $quinary-color;
    }

    @keyframes sh0 {
        0% {
            transform: rotate(0deg) translate3d(0, 0, 0);
        }

        25% {
            transform: rotate(3deg) translate3d(0, 0, 0);
        }

        50% {
            transform: rotate(-3deg) translate3d(0, 0, 0);
        }

        75% {
            transform: rotate(1deg) translate3d(0, 0, 0);
        }

        100% {
            transform: rotate(0deg) translate3d(0, 0, 0);
        }
    }

    button:hover span {
        animation: storm 0.7s ease-in-out both;
        animation-delay: 0.06s;
    }

    button::before,
    button::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #fff;
        opacity: 0;
        transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
        z-index: -1;
        transform: translate(100%, -25%) translate3d(0, 0, 0);
    }

    button:hover::before,
    button:hover::after {
        opacity: 0.15;
        transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    button:hover::before {
        transform: translate3d(50%, 0, 0) scale(0.9);
    }

    button:hover::after {
        transform: translate(50%, 0) scale(1.1);
    }
}

//Mobile-wide


@include respond(xs) {
    .blog-page {
        margin-top: 2em;
    }

    .blog-container {
        width: 100%;
        grid-auto-columns: 60%;
        gap: 2rem;


        img {
            height: 350px;
        }

        img:hover {
            cursor: pointer;
        }
    }

    .article {
        margin-bottom: 2em;
        width: 100%;

        h2 {
            font-size: $font-size-tablet;
        }

        .article:hover>.article:not(:hover) {
            filter: blur(10px);
            transform: scale(0.9, 0.9);
        }
    }

    .blog-title-container {
        width: 100%;
        max-width: 1100px;
        margin-bottom: 1em;
        border-radius: 0.5rem;

        h1 {
            font-size: clamp($font-size-desktop, 1vw, $font-size-desktop-wide);
        }

        p {
            font-size: clamp($font-size-mobile, 1vw, $font-size-desktop);
        }
    }

    .blog-scroll-container {
        margin-top: 1em;
        border-radius: 0.5rem;
        gap: 2rem;
    }

    .blog-scroll-btn-container {
        margin: 1rem 0;
        border-radius: 0.5rem;
        gap: 2em;
    }
}

//Mobile-wide -> Tablet

@include respond(sm) {
    .blog-page {
        margin-top: 2rem;
    }

    .blog-container {
        grid-auto-columns: 50%;
        gap: 2.5rem;
    }

    .blog-title-container {
        margin-bottom: 1em;
        border-radius: 0.5rem;

        h1 {
            font-size: clamp($font-size-desktop-wide, 1vw, $font-size-desktop-ultra-ultra-wide);
            font-weight: 500;
            text-align: center;
            padding: 0.7rem 0.3em;
        }
    }

    .blog-scroll-container {
        gap: 3rem;
    }

    .services-scroll-button {
        padding: 1em 2.5em 1em 2.5em;
    }

    .article {
        border: 1px solid $quaternary-color;
        margin-bottom: 2em;
        border-radius: 0.5rem;
        width: 100%;

        h2 {
            font-size: $font-size-tablet;
            max-width: 1100px;
            padding: 0 1rem 1rem 1rem;
            margin: 0.5em 0 0 0;
        }

        p {
            padding: 0 0 0.3em 1rem;
            font-family: $primary-font;
        }

        img {
            height: 400px;
        }

        .article:active {
            transform: scale(0.95) rotateZ(1.7deg);
            transition: all 0.3s ease-in-out;
        }
    }
}

//Tablet Wide

@include respond(md) {
    .blog-page {
        // padding: 0 1em;

        ::-webkit-scrollbar {
            width: 100%;
            height: 0.7rem;
            border-radius: 1rem;
        }
    }

    .blog-container {
        grid-auto-columns: 40%;
        gap: 2.5rem;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        padding-inline: 1rem;
    }

    .blog-container:hover .article:not(:hover) {
        opacity: 0.75;
        transition: all 0.3s ease-in-out;
        transform: scale(0.98, 0.98);
    }

    .article {
        border: 1px solid $quaternary-color;
        margin-bottom: 2em;
        border-radius: 0.5rem;
        width: 100%;

        img {
            height: 300px;
            width: 100%;
        }

        h2 {
            font-size: $font-size-tablet;
            padding: 0 0.5rem 0.3em 1rem;
            margin: 0.5em 0 0 0;
        }

        p {
            padding: 0 0 0.3em 1rem;
            font-family: $primary-font;
        }

        .article:active {
            transform: scale(0.95) rotateZ(1.7deg);
            transition: all 0.3s ease-in-out;
        }
    }

    .blog-title-container {
        margin: 0 1rem;
        border-radius: 0.5rem;

        h1 {
            font-size: clamp($font-size-desktop-wide, 1vw, $font-size-desktop-wide);
            padding: 1em 0.3em;
        }

        p {
            font-size: clamp($font-size-mobile-wide, 1vw, $font-size-desktop);
        }
    }

    .blog-scroll-btn-container {
        button {
            padding: 0.5rem 1rem;
        }
    }
}

//Desktop

@include respond (lg) {

    .blog-page {
        padding: 0;
        margin-top: 2em;
    }

    .blog-container {
        grid-auto-columns: 31%;
        gap: 1.8em;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    .blog-title-container {

        h1 {
            font-size: clamp($font-size-desktop-wide, 1vw, $font-size-desktop-ultra-ultra-wide);
            font-weight: 500;
            text-align: center;
            padding: 1em 0.3em;
        }
    }

    .blog-scroll-container {
        gap: 3rem;
        scroll-padding-inline: 1rem;
    }

    .article {
        margin-bottom: 2em;

        img {
            height: 420px;
            width: 100%;
        }

        h2 {
            font-size: $font-size-tablet;
            font-weight: 500;
            text-align: start;
            width: 100%;
            max-width: 1100;
            // margin-bottom: 1em;

        }

        p {
            padding: 0 0 0.3em 1rem;
            font-family: $primary-font;
        }

        .article:active {
            transform: scale(0.95) rotateZ(1.7deg);
            transition: all 0.3s ease-in-out;
        }
    }



    .blog-btn-container {
        margin-bottom: 2em;
    }
}

//Desktop Wide

@include respond (xl) {
    .blog-page {
        margin: 3rem 0;

    }

    .blog-container {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 30%;
        gap: 3rem;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        padding: 1rem;
    }

    .blog-title-container {
        margin: 2rem 0 1.5rem 0;
        border-radius: 0.5rem;

        h1 {
            font-size: clamp($font-size-desktop-ultra-wide, 1vw, $font-size-desktop-ultra-ultra-ultra-wide);
            padding: 0.3em;
        }
    }

    .blog-scroll-container {
        gap: 3rem;
        scroll-padding-inline: 1rem;

    }

    .article {
        border: 1px solid $quaternary-color;
        margin-bottom: 2em;
        border-radius: 0.5rem;
        width: 100%;
        height: auto;

        h2 {
            font-size: $font-size-tablet;
            padding: 0 1rem 1rem 1rem;
        }

        img {
            height: 330px;
            width: 100%;
        }

        .article:active {
            transform: scale(0.95) rotateZ(1.7deg);
            transition: all 0.3s ease-in-out;
        }
    }
}