@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;
@use "./app/styles/utils/_mixins" as *;
@use "./app/styles/utils/_functions" as *;


.services-main {
  background-color: $secondary-color;
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  // padding: 0 1em;
  margin-top: 1em;
}

.services-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 1em;
  // margin-bottom: 1em;

  svg {
    margin: 0 auto;
    margin-top: 0.5em;
  }

  ::-webkit-scrollbar {
    background-color: $quinary-color;
    width: 100%;
    height: 0.5em;
    border-radius: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $quaternary-color;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $quinary-color;
    border-radius: 1em;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $quinary-color;
  }
}

.services-scroll-container-svg {
  margin: 1rem 0 1rem 0;
}

.services-title-container-1 {
  width: 100%;
  max-width: 1100px;
  border-radius: 0.5em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  // border: 2px solid $quinary-color;
  box-shadow: 0 0 10px rgba(125, 125, 125, 0.5);

  // background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(/contact-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $primary-color;


  .section-title {
    font-size: clamp($font-size-desktop, 1vw, $font-size-desktop-wide);
    font-weight: 400;
    text-align: left;
    padding-left: 0.3em;
    margin-bottom: 1em;
    line-height: 1.5;
    // font-style: italic;
    padding: 0.5em 1em;
  }

  .section-description {
    font-size: clamp($font-size-mobile-wide, 1vw, $font-size-desktop-wide);
    font-weight: 400;
    text-align: left;
    padding-left: 0.5em;
    line-height: 1.5;
    margin-bottom: 0.5em;
    padding: 0 1em;
  }

  .service-section {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 1em;

    .service-list {
      font-weight: 100;
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 1.5em;
      line-height: 1.5;
      width: 100%;
      padding-left: 0.5em;
      padding: 0.5em 1em;
    }

    .service-list-item {
      display: flex;
      flex-direction: row;
      gap: 0.3em;
      width: 100%;
      font-weight: 100;
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 0.5em;
      line-height: 1.5;
      text-align: left;
    }

    .section-option {
      font-size: $font-size-mobile-wide;
      font-weight: 100;
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 0.5em;
      line-height: 1.5;
      width: 100%;
    }
  }
}



.services-title-container-2 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 3rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-align: center;
  scroll-snap-type: inline mandatory;

  h1 {
    font-size: clamp($font-size-desktop, 2vw, $font-size-desktop);
    font-weight: 600;
    color: $primary-color;
    margin-bottom: 0.5em;
    padding-left: 0.1em;
    display: inline-block;
    border-bottom: 2px solid $quinary-color;
    border-width: contain;
    line-height: 1.5;
  }

  h1:active {
    display: inline-block;
    padding-bottom: 0.3em;
    cursor: pointer;
    margin: 0 auto;
  }

  h1:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  p {
    font-size: clamp($font-size-mobile-wide, 2vw, $font-size-tablet);
    font-weight: 100;
    color: $primary-color;
    font-family: $secondary-font;
    margin-bottom: 1.5em;
    line-height: 1.5;
    width: 95%;
    padding-left: 0.2em;
  }

  p+p {
    margin-bottom: 2.5em;
  }

  a:hover {
    cursor: pointer;
  }
}

.service-item {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1em;
  scroll-snap-align: start;
  overscroll-behavior-inline: contain;
  padding: 0.5em;

  img {
    width: 100%;
    height: 300px;
    border-radius: 1em;
    inline-size: 100%;
    box-shadow: 0 0 10px rgba(125, 125, 125, 0.5);
    background-size: contain;
    margin-bottom: 0.7em;
  }
}

.services-scroll-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 0.5rem;
  gap: 2em;
  overflow-x: auto;
  margin-bottom: 0.5rem;


  .span {
    font-weight: 600;
  }

  button {
    display: inline-block;
    padding: 1em 2em 1em 2em;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    margin: 1em 0 1em 0;
    font-weight: bold;

  }

  button:hover {
    background-color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }

  button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.3);
  }

  button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  button:hover::before {
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
  }


}

.services-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  padding: 0 1em;
  margin-bottom: 3em;


  button {
    position: relative;
    margin: 0;
    padding: 1rem 1.5em;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid $quaternary-color;
    background-color: $secondary-color;
    border-radius: 12rem;
    color: $primary-color;
    font-weight: 300;
    font-size: clamp($font-size-mobile-wide, 3vw, $font-size-tablet);
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  }

  button:hover {
    animation: sh0 0.5s ease-in-out both;
    background-color: $quinary-color;
  }

  @keyframes sh0 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }

  button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }

  button::before,
  button::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
  }

  button:hover::before,
  button:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  }

  button:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.9);
  }

  button:hover::after {
    transform: translate(50%, 0) scale(1.1);
  }

}

//Tablet 

@include respond(xs) {
  .services-main {
    background-color: $secondary-color;
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    // padding: 0 1em;
  }

  .services-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    // padding: 1em 0 1em 0;

    ::-webkit-scrollbar {
      background-color: $quinary-color;
      width: 100%;
      height: 0.5em;


    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: $quaternary-color;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: $quinary-color;
      border-radius: 1em;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: $quinary-color;
    }
  }

  .service-item {
    width: 8%;
    height: auto;
    border-radius: 0.5em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1em;
    scroll-snap-align: start;
    overscroll-behavior-inline: contain;
  }

  .services-title-container-1 {
    width: 100%;
    max-width: 1100px;
    margin: 0 0 1em 0;
    background-color: transparent;
    border-radius: 0.5em;
    // padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid $quinary-color;
    padding: 1.5em 1em;
    // background: url(/contact-bg.jpg);
    // z-index: -1;
    // background-position: center;
    // background-size: contain;
    // background-repeat: no-repeat;
    // opacity: 0.75;

    .section-title {
      font-size: clamp($font-size-desktop, 1vw, $font-size-desktop-wide);
      font-weight: 500;
      text-align: left;
      padding-left: 0.3em;
      // margin-bottom: 1em;
      line-height: 1.5;
      // font-style: italic;
    }



    .section-description {
      font-size: clamp($font-size-tablet, 1vw, $font-size-desktop-wide);
      font-weight: 400;
      text-align: left;
      padding-left: 0.5em;
      line-height: 1.5;
      // margin-bottom: 0.5em;
    }

    .service-section {
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      box-sizing: border-box;

      .service-list {
        font-weight: 100;
        color: $primary-color;
        font-family: $secondary-font;

        line-height: 1.5;
        width: 100%;
        padding-left: 0.5em;
      }

      .service-list-item {
        display: flex;
        flex-direction: row;
        gap: 0.3em;
        width: 100%;
        font-weight: 100;
        color: $primary-color;
        font-family: $secondary-font;

        line-height: 1.5;
        text-align: left;
      }

      .section-option {
        font-size: clamp($font-size-mobile-wide, 5vw, $font-size-tablet);
        font-weight: 100;
        color: $primary-color;
        font-family: $secondary-font;
        margin-bottom: 0.5em;
        line-height: 1.5;
        width: 100%;
      }
    }

  }

  .services-title-container-2 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 70%;
    gap: 1rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-align: center;
    scroll-snap-type: inline mandatory;
  }

  .service-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 1em;


    img {
      width: 100%;
      height: 300px;
      border-radius: 1em;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.3);

    }

    .img:hover {
      cursor: pointer;
    }
  }

}


// Desktop

@include respond(md) {
  .services-main {
    background-color: $secondary-color;
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    padding: 0 1em;
    margin-top: 1em;

  }

  // .services-container {
  //   width: 100%;
  //   max-width: 1200px;
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content: flex-start;
  //   align-items: center;
  //   padding: 1em 0 1em 0;
  // }

  .services-title-container-1 {
    width: 100%;
    max-width: 1100px;
    margin: 0 0 2em 0;
    border: 1px solid $quaternary-color;
    // background-color: $quinary-color;
    border-radius: 0.5em;
    padding: 1em 0.5em;
    // border: 2px solid $quinary-color;



    .section-title {
      font-size: clamp($font-size-desktop-wide, 1vw, $font-size-desktop-ultra-ultra-wide);
      font-weight: 400;
      text-align: left;
      padding-left: 0.3em;
      margin-bottom: 0;
      line-height: 1.5;
      width: 100%;
      // font-style: italic;
    }



    .section-description {
      font-size: clamp($font-size-tablet, 1vw, $font-size-desktop-wide);
      font-weight: 400;
      text-align: left;
      padding-left: 0.5em;
      line-height: 1.5;
      width: 80%;
      // margin-bottom: 0.5em;
    }
  }

  .service-section {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
    // margin-top: 1em;

    .service-list {
      font-weight: 100;
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 1.5em;
      margin-top: 1.5em;
      line-height: 1.5;
      width: 100%;
      padding-left: 0.5em;
    }

    .service-list-item {
      display: flex;
      flex-direction: row;
      gap: 0.3em;
      width: 100%;
      font-weight: 100;
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 0.5em;
      line-height: 1.5;
      text-align: left;
    }

    .section-option {
      font-size: $font-size-desktop-wide;
      font-weight: 100;
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 0.5em;
      line-height: 1.5;
      width: 100%;
    }
  }

  .services-scroll-container {

    button {
      padding: 1em 2.5em 1em 2.5em;
    }
  }

  .services-title-container-2 {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 45%;
    gap: 1.4em;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
  }

}

@include respond(lg) {
  .services-title-container-2 {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 37%;
    gap: 1.4em;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
  }

  .services-scroll-container-svg {
    display: none;
  }

  .services-scroll-button {

    padding: 1em 2.5em 1em 2.5em;


  }
}

// Desktop Wide

@include respond(xl) {
  .services-main {
    background: $secondary-color;
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    margin-top: 1em;
  }

  .services-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0 1em 0;
  }

  .services-title-container-1 {
    width: 100%;
    max-width: 1100px;
    margin: 0 0 2em 0;
    // border: 2px solid $quinary-color;
    border-radius: 0.5em;
    padding: 3em 3em;

    .section-title {
      font-size: clamp($font-size-desktop-wide, 3vw, $font-size-desktop-ultra-wide);
      font-weight: 500;
      text-align: left;
      padding-left: 0.3em;
      margin-bottom: 0.5em;
      line-height: 1.5;
      width: 100%;
      font-style: italic;
      padding: 0;
    }



    .section-description {
      font-size: clamp($font-size-tablet, 1vw, $font-size-desktop-wide);
      font-weight: 400;
      text-align: left;
      padding-left: 0.5em;
      line-height: 1.5;
      width: 90%;
      // margin-bottom: 0.5em;
    }
  }

  .services-scroll-container {

    button {
      padding: 1em 2.5em 1em 2.5em;
    }
  }

  .service-section {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
    // margin-top: 1em;

    .service-list {
      font-weight: 100;
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 0.5em;
      margin-top: 1.5em;
      line-height: 1.5;
      width: 100%;
      padding-left: 0.5em;
    }

    .service-list-item {
      display: flex;
      flex-direction: row;
      gap: 0.3em;
      width: 100%;
      font-weight: 100;
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 0.5em;
      line-height: 1.5;
      text-align: left;
      font-size: $font-size-tablet;
    }

    .h3 {
      font-size: $font-size-tablet;
      font-weight: 100;
      color: $primary-color;
      font-family: $secondary-font;
      line-height: 1.5;
      width: 100%;
    }
  }

  .services-title-container-2 {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 32%;
    gap: 1.4em;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
  }

  .services-scroll-container-svg {
    display: none;
  }
}