@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;
@use "./app/styles/utils/_mixins" as *;
@use "./app/styles/utils/_functions" as *;

.contact-form-main {
  border-radius: 0.5rem;
  width: 100%;
  max-width: 1100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 10px rgba(125, 125, 125, 0.5);

}

.contact-form-main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0.5rem;
  background: url(/contact-bg3.jpg);
  opacity: 0.95;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-form-container {
  width: 100%;
  max-width: 1100px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  border-radius: 1rem;

}

.contact-form-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $primary-color;

  button {
    background-color: $secondary-color;
    border: none;
    padding: 1rem 2rem;
    font-size: clamp($font-size-mobile-wide, 1.5vw, $font-size-tablet);
    width: 10em;
    border-radius: 1rem;
    color: $primary-color;
    box-shadow: 0 0.4rem $tertiary-color;
    cursor: pointer;
    width: max-content;
    letter-spacing: 0.05rem;
  }

  button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
  }

  button:hover:not(:disabled) {
    background: $primary-color;
    color: $secondary-color // text-shadow: 0 0.1rem #bcb4b4;
  }

  button:disabled {
    cursor: auto;
    color: grey;
  }
}

.contact-form-iframe {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;

  iframe {
    width: 100%;
    height: 960px;
    margin-top: 1em;
  }
}

.contact-form-text {
  width: 100%;
  height: auto;
  padding: 1rem 0;
}

.contact-form-title {
  font-size: clamp($font-size-tablet, 1.5vw, $font-size-desktop);
  font-weight: 400;
  margin-bottom: 1rem;
  color: $primary-color;
  text-align: center;
  text-wrap: nowrap;
  color: $primary-color;
}

.contact-form-subtitle {
  font-size: clamp($font-size-mobile-wide, 1.5vw, $font-size-tablet);
  margin-bottom: 1rem;
  color: $primary-color;
  text-align: center;
  padding: 0 1rem;
  font-family: $secondary-font;
  line-height: 1.7;
  font-weight: 100;
  width: 80%;
  margin: 0 auto;
}



@include respond(md) {
  .contact-form-main {
    border-radius: 0.5rem;
    width: 100%;
    max-width: 1100px;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

  }

  .contact-form-main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.5rem;

    // opacity: 0.75;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact-form-container {
    width: 100%;
    max-width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
  }

  .contact-form-iframe {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 0 3em;
    margin-top: 2rem;

    iframe {
      width: 100%;
      height: 1000px;
    }
  }

  .contact-form-text {
    width: 100%;
    padding: 1rem;
  }

  .contact-form-title {
    font-size: clamp($font-size-desktop-wide, 1.5vw, $font-size-desktop-wide);
    font-weight: 400;
    margin-bottom: 1rem;
    color: $primary-color;
    text-align: center;
  }

  .contact-form-subtitle {
    font-size: clamp($font-size-mobile-wide, 1.5vw, $font-size-tablet);
    margin-bottom: 1rem;
    color: $primary-color;
    text-align: center;
    padding: 0 6rem;
    font-family: $secondary-font;
    line-height: 1.5;
    font-weight: 100;
  }

}

// Desktop

@include respond(xl) {
  .contact-form-main {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    max-width: 1100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    // padding: 6em 8em;
  }

  .contact-form-iframe {
    width: 100%;
    height: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5rem;


    .iframe {
      width: 100%;
      height: 1000px;
    }
  }

  .contact-form-text {
    width: 100%;
    padding: 1rem;
  }

  .contact-form-main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.5rem;

    // opacity: 0.75;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact-form-title {
    font-size: clamp($font-size-desktop-wide, 1.5vw, $font-size-desktop-wide);
    font-weight: 400;
    margin-bottom: 1rem;
    color: $primary-color;
    text-align: center;
  }

  .contact-form-subtitle {
    font-size: clamp($font-size-mobile-wide, 1.5vw, $font-size-tablet);
    margin-bottom: 1rem;
    color: $primary-color;
    text-align: center;
    padding: 0 6rem;
    font-family: $secondary-font;
    line-height: 1.5;
    font-weight: 100;
  }
}

@include respond(2xl) {
  .contact-form-main {
    padding: 4rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 1100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .contact-form-title {
    font-size: clamp($font-size-desktop-wide, 3vw, $font-size-desktop-ultra-wide);
    font-weight: 400;
    margin-bottom: 1rem;
    color: $primary-color;
    text-align: center;
  }

  .contact-form-subtitle {
    font-size: clamp($font-size-mobile-wide, 1.5vw, $font-size-tablet);
    margin-bottom: 1rem;
    color: $primary-color;
    text-align: center;
    padding: 0 1rem;
    font-family: $secondary-font;
    line-height: 1.5;
    font-weight: 100;
  }

  .contact-form-main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.5rem;

    // opacity: 0.75;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact-form-text {
    width: 100%;
    padding: 1rem;
  }

  .contact-form-iframe {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    iframe {
      width: 100%;
      height: 1000px;
    }
  }

  .contact-form-text {
    width: 100%;
    padding: 1rem;
  }
}