
@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as *;
@use './app/styles/utils/_functions' as *;

.navbar{
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 1em;



    .navbar-button{
        background-color: #000;
        color: #ffffff;
        padding: 7px 10px;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
    }
}

    .logo{

        margin-right:13px;
        
        h1{
            font-size: $font-size-tablet; 
            font-weight: 400;
            text-align: center;
            padding: 15px 0 0 0;
            
        }
        
        h2{
            font-size: $font-size-mobile;
            font-weight: 600;
            color: $primary-color;
            text-align: center;
            font-style: italic;
            margin-bottom: 1em;
        }
    }

    .hamburger-container{
        // border: 1px solid $quaternary-color;
        background-color: #ffffff;
       
    }
    .hamburger{
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        position: relative;

    .button{
        background-color: #ffffff;
        }
    }
    .navLinks {
        display: none;
        flex-direction: column;
        gap: 0.5em;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        font-size: $font-size-small;
        margin-left: 1em;
        letter-spacing: 0.05em;
        color: $primary-color;
        box-sizing: border-box;
    
        &.open {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          background-color:$secondary-color;
          position: fixed;
          margin: 0 auto;
          width: 100%;
          max-width: 800px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          justify-content: space-evenly;
          align-items: center;
          list-style: none;
          margin-bottom: 0;
          margin-top: 3em;
          border-radius: 0.5em;
          padding-left: 1em;
          padding-right: 1em;
          font-size: $font-size-small;
          z-index: 9999;
          padding-bottom: 15em;
          padding-top: 7em;
          height: 100vh;
        }
        }
      .navLinks a:hover {
        color: $secondary-color;
        transition: all 0.3s ease-in-out;
          
      }
      
      .navLinks a:active {
        // color: $fourteenth-color;
        transition: all 0.8s ease-in-out;
      }
    

    .lineTop,
    .lineMiddle,
    .lineBottom {
      fill: var(--button-color);
      transition: transform 0.3s ease-in-out, opacity 0s ease-in-out;
    }
    
    .lineTop {
      transform-origin: 0.125rem -0.125rem;
    }
    .lineMiddle {
      transform-origin: 0.125rem 0.125rem;
    }
    
    .lineBottom {
      transform-origin: 0.125rem -0.125rem;
    }
    
    .burgerMenuButton[aria-expanded="true"] .lineTop {
      transform: rotate(45deg) translate(1.50rem, -0.80rem);
    }
    
    .burgerMenuButton[aria-expanded="true"] .lineMiddle {
      opacity: 0;
    }
    
    .burgerMenuButton[aria-expanded="true"] .lineBottom {
      transform: rotate(-45deg) translate(-3rem, -0.80rem);
    }
    

 

@media screen and (min-width: 768px) {
    

.navbar{
    width: 100%;
    max-width: 1030px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    position: relative;
    font-family: $primary-font;
    margin-top: 1.5em;
    border: 1px solid $quaternary-color;
    border-radius: 1em;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  
    a{
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
        font-weight: 400;
    }
    a:hover{
      transform: scale(1.1);
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      color: $primary-color;
    }
    a:active{
        transform: scale(0.9);
        transition: all 0.2s ease-in-out;
    }

    .hamburger-container{
        display: none;
    }

    button{
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        margin: 1em;
    }
}

.navLinks{
    gap: 1em;   
}
.navbar-links-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: flex-start;
}
.navbar-links-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    // border: 2px solid $quaternary-color;
    width: 300px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    // background-color: $quinary-color;
    letter-spacing: 3px;
    // flex-basis: 40%;
    border-radius: 1em;

    h1{
        font-size: clamp($font-size-mobile, $font-size-desktop, 8vw);
        font-weight: 300;
        text-align: center;
        padding: 10px;
    }
    
    h2{
        font-size: 1.1em;
        font-weight: 400;
        color: $primary-color;
        text-align: center;
        font-style: italic;
    }
}
}

@media screen and (min-width: 1250px){
    .navbar{
        width: 100%;
        max-width: 1100px;
    }
}

