@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;
@use "./app/styles/utils/_mixins" as *;
@use "./app/styles/utils/_functions" as *;

// Navbar mobile
.navbar {
  margin: 0 auto;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-color: $secondary-color;
  z-index: 1000;

}

.navbar-button-container {
  button {
    background-color: lighten($primary-color, $amount: 20%);
    color: $secondary-color;
    padding: 8px 14px;
    border: none;
    border-radius: 1.5em;
    font-size: $font-size-mobile;
    width: 100%;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  }

  .button:hover {
    transform: scale(1.02);
    background-color: $primary-color;
    cursor: pointer;
  }

  .button:active {
    transform: scale(1.01);
    // transition: all 0.2s ease-out;
  }
}

.navbar-desktop {
  display: none;
}

.navbar-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  animation: fade-in 1.5s ease-in-out;
  translate: all 0.3s ease-in-out;
  position: relative;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translate(0, -3rem);
    }

    to {
      opacity: 1;
      transform: translate(0, 0);
    }

  }

  .logo {
    width: 150px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 1em;
    font-family: $secondary-font;
    margin-top: 0;

    img {
      width: 150px;
      height: 100px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      letter-spacing: 3px;
      border-radius: 1em;
      font-family: $secondary-font;
      margin-top: 0.28em;
    }


  }

  svg {
    width: 1.5em;
    height: 1.5em;
    fill: $primary-color;
    transition: all 0.3s ease-in-out;
  }

  .hamburger-container {
    margin-top: 0.7em;
    width: 12%;
  }




  .navLinks {
    display: none;
    flex-direction: column;
    gap: 3em;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: $font-size-small;
    margin-left: 1em;
    letter-spacing: 0.05em;
    color: $primary-color;
    box-sizing: border-box;
    // animation: fade-in-top 1.5s ease-in-out;

    li {
      font-size: clamp($font-size-tablet, 1vw, $font-size-desktop-wide);
      padding-bottom: 0.5em;
      animation: fade-in-top 1.5s forwards;
      border-bottom: 1px solid $primary-color;


    }

    @keyframes fade-in-top {
      from {
        opacity: 0;
        transform: translateY(-20%);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.open {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      // background-color: $secondary-color;
      background-color: rgba($secondary-color, 1);
      position: fixed;
      margin: 0 auto;
      width: 100%;
      max-width: 800px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: space-evenly;
      align-items: center;
      // margin-bottom: 0;
      margin-top: 5.5rem;
      border-radius: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      font-size: $font-size-small;
      z-index: 9999;
      padding-bottom: 15em;
      padding-top: 3em;
      height: 100vh;
      scroll-behavior: smooth;
      gap: 2em;
      // animation: fade-in-top 1.5s ease-in-out;

    }




  }

  .navLinks a:hover {
    color: $primary-accent-color;
    cursor: pointer;
  }

  .navLinks a:active,
  .navLinks li:focus {
    transition: all 0.8s ease-in-out;
    color: $primary-accent-color;
  }

  .lineTop,
  .lineMiddle,
  .lineBottom {
    fill: $primary-color;
    transition: transform 0.3s ease-in-out, opacity 0s ease-in-out;
  }

  .lineTop {
    transform-origin: 0.125rem -0.125rem;
  }

  .lineMiddle {
    transform-origin: 0.125rem 0.125rem;
  }

  .lineBottom {
    transform-origin: 0.125rem -0.125rem;
  }

  .burgerMenuButton[aria-expanded="true"] .lineTop {
    transform: rotate(45deg) translate(1.5rem, -0.8rem);
  }

  .burgerMenuButton[aria-expanded="true"] .lineMiddle {
    opacity: 0;
  }

  .burgerMenuButton[aria-expanded="true"] .lineBottom {
    transform: rotate(-45deg) translate(-3rem, -0.8rem);
  }
}

//Tablet

@include respond(md) {
  .navbar {
    margin: 0 auto;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: $secondary-color;
    padding: 0 1rem;
    z-index: 1000;

  }



  .navbar-mobile {
    display: none;
  }

  .navbar-social {
    display: none;
  }

  .hamburger-container {
    display: none;
  }

  .navbar-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 1em;
    // border: 1px solid $quaternary-color;
    box-sizing: border-box;
    border-radius: 0.5em;
    padding: 0.5em 1em;


    button {
      background-color: lighten($primary-color, $amount: 20%);
      color: $secondary-color;
      padding: 8px 14px;
      border: none;
      border-radius: 1.5em;
      font-size: $font-size-mobile;
      width: 100%;
      box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    }

    .button:hover {
      transform: scale(1.02);
      background-color: $primary-color;
      cursor: pointer;
    }

    .button:active {
      transform: scale(1.01);
      // transition: all 0.2s ease-out;
    }
  }
}

.navbar-links {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  letter-spacing: 0.05em;
  color: $primary-color;
  box-sizing: border-box;
  cursor: pointer;
  animation: fade-in-top 1.5s ease-in-out;

  .navLinks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: $font-size-mobile;
    margin-left: 1em;
    letter-spacing: 0.05em;
    color: $primary-color;
    box-sizing: border-box;
    margin: 0 auto;

    a {
      font-size: clamp($font-size-tablet, 1vw, $font-size-desktop-wide);
      padding-bottom: 0.5em;
      animation: fade-in-top 1.5s;

      @keyframes fade-in-top {
        from {
          opacity: 0;
          transform: translatey(-100%);
        }

        to {
          opacity: 1;
          transform: translatey(0);
        }
      }
    }
  }

  .navLinks a:hover {
    transition: all 0.3s ease-in;
    color: $primary-accent-color;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: translateY(-0.2em);
  }

  .navLinks a:active {
    transition: all 0.8s ease-in-out;
  }


  .logo {
    width: 150px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    letter-spacing: 3px;
    border-radius: 1em;
    font-family: $secondary-font;
    margin-top: 0.28em;

    img {
      width: 200px;
      height: 110px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      letter-spacing: 3px;
      border-radius: 1em;
      font-family: $secondary-font;
    }
  }
}

//Desktop

@include respond(xl) {
  .navbar {
    padding: 0;
    box-sizing: border-box;
  }

  .navbar-mobile {
    display: none;
  }

  .hamburger-container {
    display: none;
  }

  .navbar-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
    padding: 0.5em 1em;

    .logo {
      width: 300px;
      height: 150px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      letter-spacing: 3px;
      border-radius: 1em;
      font-family: $secondary-font;

      img {
        width: 300px;
        height: 120px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        letter-spacing: 3px;
        border-radius: 1em;
        font-family: $secondary-font;
      }
    }
  }

  .navbar-links {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    letter-spacing: 0.05em;
    color: $primary-color;
    box-sizing: border-box;
    cursor: pointer;


    button {
      background-color: lighten($primary-color, $amount: 20%);
      color: $secondary-color;
      padding: 10px 15px;
      border: none;
      border-radius: 1.5em;
      box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
      font-size: $font-size-tablet;
      width: 100%;
    }

    .button:hover {
      transform: scale(1.12);
      background-color: $secondary-color;
      cursor: pointer;
      border: 1px solid $primary-color;
    }

    .button:active {
      transform: scale(1.01);
      transition: all 0.2s ease-out;
    }

    .navLinks {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      letter-spacing: 0.05em;
      color: $primary-color;
      box-sizing: border-box;
      margin: 0 auto;

      a {
        font-size: $font-size-tablet;
      }


    }

    .navLinks a:hover {
      color: $primary-accent-color;
      cursor: pointer;
      // transform: translateY(-0.2em);

    }

    .navLinks li:hover {
      color: $primary-accent-color;
      cursor: pointer;
      transform: translateY(-0.2em);
      transition: all 0.8s ease-in-out;
    }

    .navLinks a:active {
      transition: all 0.8s ease-in;
      transform: translateY(0.2em);
    }
  }
}